<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
    <h2 class="header">
        قسم إطلاق المشاريع
    </h2>
</div>
    <div class="col-lg-6 d-flex justify-content-end align-items-center">
        <div class="">
            <button class=" btn btn1" routerLink="/projects/projects-partners/new-project-form">
                إضافة مشروع  +</button>
        </div>
    </div>
    <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">شريكي</h3>
    <div class="define">
        <!-- <img src="assets/images/projects/Rectangle 194.png" class="ps-2 d-inline-block"> -->
        <div class="d-inline-block pt-2">
            <p>نص تعريفي بالخدمة نص تعريفي</p>
            <p>بالخدمة نص تعريفي بالخدمة</p>
        </div>
    </div>
</div>
    <div class="mt-4 second-section rounded-4 p-4">
        <div class="container mt-3">
            <div class="row searchBar d-flex justify-content-around">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-3 searchBarInput"> <div>
                            <p-dropdown
                                placeholder="النشاط"
                                styleClass="w-100 text-center fw-bold ">
                            </p-dropdown>
                        </div></div>
                        <div class="col-lg-3 searchBarInput">
                            <div>
                                <p-dropdown
                                placeholder="المدينة"
                                styleClass="w-100 text-center fw-bold ">
                                </p-dropdown>
                           </div>
                        </div>
                        <div class="col-lg-3 searchBarInput">  <div>
                            <p-dropdown
                            placeholder="رأس المال من "
                            styleClass="w-100 text-center fw-bold ">
                            </p-dropdown>
                        </div>
                        </div>
                        <div class="col-lg-3 searchBarInput">
                            <div>
                                <p-dropdown
                                placeholder="رأس المال إلى"
                                styleClass="w-100 text-center fw-bold ">
                                </p-dropdown>
                           </div>
                        </div>
                    </div>
                   
                    
              
                </div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center">
                    <div class="">
                        <button class=" btn btn3" routerLink="">
                           بحث</button>
                    </div>
                </div>
            </div>
         
            <div class="row justify-content-around">
                <div class="col-lg-3" *ngFor="let partener of parteners">
                    <div class="card1 pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/Project.png" class="">
                            </div>
                        </div>
                        <h3 class="mb-2" style="text-align: center; padding-top:8px">{{partener.part_title}}</h3>
                        <ul class="px-4 py-2 ">
                            <!-- <li class="mb-2">{{partener.part_desc}}</li> -->
                            <li class="mb-2">المدة: {{partener.part_duration}}</li>
                            <li class="mb-2">المكان: {{partener.part_location}}</li>
                            <li class="mb-2">التكلفة: {{partener.part_cost}}</li>
                            <li class="mb-2">النسبة: {{partener.part_percentage}}</li>
                        </ul>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="nav-link px-4  btn btn2 mt-2 mx-auto" routerLink="">مزيد من المعلومات</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>