<div class="px-3 main pt-5">
    <div class="bg-light rounded-4 pt-5  px-4 pb-3">
        <p class="text-center py-2 pt-4 pb-2">تغيير كلمة المرور</p>
        <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm)">
            <div class="input pb-3">
                <div class="input-container ">
                    <i class="icon "><img src="assets/images/auth/padlock.svg"></i>
                    <input formControlName="password"
                        [ngClass]="{'is-invalid' : resetForm.controls['password'].errors && resetForm.controls['password'].touched && resetForm.controls['password'].getError('required')}"
                        [type]="hide ? 'password' : 'text'" class="input-field" placeholder="كلمة المرور">
                    <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="input pb-3">
                <div class="input-container">
                    <i class="icon "><img src="assets/images/auth/padlock.svg"></i>
                    <input formControlName="password_confirmation"
                        [ngClass]="{'is-invalid' : resetForm.controls['password_confirmation'].errors && resetForm.controls['password_confirmation'].touched && resetForm.controls['password_confirmation'].getError('required')}"
                        [type]="hide ? 'password' : 'text'" class="input-field" placeholder="تأكيد كلمة المرور">
                </div>
            </div>

            <div class="mt-3 login">
                <button [disabled]="isLoading" type="submit" class="btn w-100 ">
                    <span *ngIf="!isLoading">تأكيد</span>
                    <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
                </button>
            </div>
            <p *ngIf="errorMessage" class="alert alert-danger text-black  mt-1 fs-6">{{errorMessage}}</p>
        </form>

    </div>
</div>