@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;



  .btn1 {
    background-color: #00AF7A;
    color: $white-color;
    padding: 5px 0;

    img {
      width: 18px;
    }
  }

  .image {
    img {
      height: 75vh;
      display: block;
      margin: auto;
    }
  }
}
