<div class="main container px-5">
  <div class="d-flex  justify-content-end">
    <button class=" d-flex align-items-center nav-link px-3 btn btn1" routerLink="/auth/login">
      تحميل الشهادة
      <div class="p-1 bg-light rounded-3 me-2">
        <img src="../../../../assets/images/training/0.svg" class="text-center">
      </div>
    </button>
  </div>
  <div class="image">
    <img src="../../../../assets/images/training/Blue and Yellow Minimalist Employee of the Month Certificate (1).svg"
      class="mt-2">
  </div>
</div>
