<div class="main container px-5">
    <h2 class="header">
        قسم إطلاق المشاريع
    </h2>
    <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">فرصتى</h3>
    <div class="define">
        <!-- <img src="assets/images/projects/Rectangle 194.png" class="ps-2 d-inline-block"> -->
        <div class="d-inline-block pt-2">
            <p>نص تعريفي بالخدمة نص تعريفي</p>
            <p>بالخدمة نص تعريفي بالخدمة</p>
        </div>
    </div>
    <div class="mt-4 second-section rounded-4 p-4">
        <div class="container mt-3">
            <div class="row searchBar d-flex justify-content-around">
                <div class="col-lg-3 searchBarInput">
                    <div class="input">
                        <div class="input-container ">
                          <i class="icon "><img src="assets/images/projects/Icon.png"></i>
                          <input type="text" class="input-field" placeholder="بحث و تصفية">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4 searchBarInput"> <div>
                            <!-- <p-dropdown
                                placeholder="القطاع"
                                styleClass="w-100 text-center fw-bold ">
                            </p-dropdown> -->
                            <p-dropdown [options]="allCategories" styleClass="w-100 text-center fw-bold"
                            placeholder="التصنيف"></p-dropdown>
                        </div></div>
                        <div class="col-lg-4 searchBarInput">
                            <div>
                                <p-dropdown
                                placeholder="التكاليف"
                                styleClass="w-100 text-center fw-bold ">
                            </p-dropdown>
                        </div>
                        </div>
                        <div class="col-lg-4 searchBarInput">  <div>
                            <p-dropdown
                            placeholder="بلد العلامة التجارية"
                            styleClass="w-100 text-center fw-bold ">
                        </p-dropdown>
                            </div></div>
                    </div>
                </div>
            </div>
         
            <div class="row justify-content-around" >
                <div class="col-lg-3" *ngFor="let project of projects">
                    <div class="card1 pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/LOGO.png" class="" >
                            </div>
                        </div>
                        <h3 class="mb-2">{{project.opp_name}}</h3>
                        <ul class="px-4 py-2 ">
                            <li class="mb-2">{{project.opp_desc}}</li>
                            <li class="mb-2">المدة: {{project.opp_contract_duration}}</li>
                            <li class="mb-2">المكان: {{project.opp_location}}</li>
                            <li class="mb-2">التكلفة: {{project.opp_cost_from}} : {{project.opp_cost_to}}</li>
                        </ul>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="nav-link px-4  btn btn2 mt-2 mx-auto" routerLink="">مزيد من المعلومات</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>