<div class="main container px-5 pb-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="pb-3 ">{{blog?.title?.ar}}</h2>
            <p>{{blog?.description?.ar}}
            </p>
            <div class="d-flex align-items-center ">
                <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="55" height="55">
                
                <p class="m-3 mt-4 timing-text">{{blog?.user?.name}}</p>
            </div> <div class="d-flex align-items-center ">
                <h3>تاريخ النشر:</h3>
                <p class="m-3 mt-4 timing-text">{{blog?.authored_date}}</p>
            </div>
            <div class="d-flex align-items-center ">
                <h3>وقت النشر:</h3>
                <p class="m-3 mt-4 timing-text ">{{blog?.authored_time}}</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box m-auto d-flex justify-content-center align-items-center">
                <div class="uploadBox">
                    <img [src]="blog?.image" class="d-block  m-auto boxImg rounded img-fluid">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 style="color: #07487C;">Comments</h1>
        <div *ngFor="let comment of comments" class="col-sm-5 col-md-6 col-12 pb-4 m-2 comment-container">
            <div class="comment mt-4 text-justify float-left">
                <div class="d-flex align-items-center mb-2">

                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4 class="name-user">{{comment?.user?.name}}</h4>
                </div>
                <span class="comment-date">{{comment?.created_at?.split("T")[0]}}</span>
                <br>
                <p>{{comment?.comment}}</p>
            </div>
        </div>
        <form [formGroup]="addCommentForm">
                    <div class="form-group row mt-3 ">
            <label for="inputdesc" class=" col-form-label comments-label"> اضف تعليقك : </label>
            <div class="col-sm-12">
                <textarea type="text" class="form-control" id="inputdesc" formControlName="comment"  placeholder=""></textarea>
            </div>
        </div>
        <button class="nav-link px-4  btn btn2 mt-2 col-sm-2 mr-4" (click)="addComment()">حفظ</button>
        </form>
    </div>