<div class="main container px-5 pb-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="pb-3 ">مجتمعى</h2>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص هذا النص هو مثال لنص يمكن أن يستبدل
                في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص
            </p>
        </div>
        <div class="col-lg-6">
            <div class="box m-auto">
                <div class="uploadBox">
                    <img src="../assets/images/services/Folder.png" class="d-block w-20 m-auto boxImg">
                    <p>إرفق صور او فديو او صوت هنا لبدء التحميل</p>
                    <p>- أو -</p>
                    <button class="nav-link px-4  btn btn1 mt-2" routerLink="">Browse files</button>
                </div>
            </div>
        </div>
    </div>
    <textarea></textarea>
    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">حفظ</button>
</div>