<div class="main px-5">
    <div class="row mt-3">
        <div class="col-lg-8">
            <h2 class="header">
                الأنحرافات
            </h2>
           
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
                width: 20px;
            ">تظهر رسائل الانحراف بشكل عشوائي غير منتظم</h3>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
    width: 20px;
">وهي عبارة عن قيم مالية يتم خصمها من الأرباح او اضافتها للارباح
وتؤثر بالتالي علي ميزانية رائد الاعمال وهي واجبة الخصم والاضافة</h3>
         

        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="">
                <img src="../../../../assets/images/projects/Group 2028.png" class="d-block ideaImg m-auto">
            </div>
        </div>

        <div class="col-lg-6 left-section">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-4 px-1">
                  <div class="first-card my-cards  rounded-3 p-4" routerLink="training-paths">
                    <div class="rounded-4 text-center bg-white">
                      <!-- <img src="assets/images/training/12.svg" class="d-block m-auto pt-3 pb-2"> -->
                      <h4>انحراف سلبي</h4>
                      <p class="text-center">قرر صاحب العقار الذي تستاجرة
                        إضافة رسوم إضافية علي الايجار
                        بنسبة</p>
                     <span class="price">15%</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 px-1">
                  <div class="second-card my-cards  rounded-3 p-4" routerLink="online-courses">
                    <div class="rounded-4 text-center bg-white">
                      <!-- <img src="assets/images/training/Layer 17.svg" class="d-block m-auto pt-3 pb-2"> -->
                      <h4>انحراف ايجابي</h4>
                      <p class="text-center pb-3">خرج منافسك من السوق وارتفعت
                        مبيعاتك بنسبة</p>
                      <span class="price">12%</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 px-1">
                  <div class="third-card my-cards  rounded-3 p-4" routerLink="skills-library">
                    <div class="rounded-4 text-center bg-white">
                      <!-- <img src="assets/images/training/10.svg" class="d-block m-auto pt-3 pb-2"> -->
                      <h4>انحراف ايجابي</h4>
                      <p class="text-center pb-3">خرج منافسك من السوق وارتفعت
                        مبيعاتك بنسبة</p>
                      <span class="price">12%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        <div class="col-lg-7">
            <div class="section2">
                <div class=" p-4 section">
                    <p  class="text-white">دروس في الأنحرافات</p>
                    <div class="second-section2 rounded-4">
                        <div class="container mt-3">
                            <div class="row justify-content-around">
                                <div class="col-lg-2 mt-2">
                                    <div class="card">
                                        <div class="cardhead">
                                            <h4>درس 1</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-2">
                                    <div class="card">
                                        <div class="cardhead">
                                            <h4>درس 2</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-2">
                                    <div class="card">
                                        <div class="cardhead">
                                            <h4>درس 3</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-2">
                                    <div class="card">
                                        <div class="cardhead">
                                            <h4>درس 4</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mt-2">
                                    <div class="card">
                                        <div class="cardhead">
                                            <h4>درس 5</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12 mt-5
        d-flex justify-content-start align-items-center">
            <div class="">
                <button class=" btn btn1 mt-5" routerLink="">
                    التالى</button>
            </div>
        </div>
    </div>
</div>