<div class="main p-5">
    <div class="row mt-3">
        <div class="col-lg-6">
            <h2 class="header">
                أختر المشروع  
            </h2>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div>
                <img src="../../../../assets/images/projects/Group 2022.png" class="d-block w-75 m-auto">
            </div>
        </div>
    </div>
    <div class="mt-4 p-4 section">
        <div class="second-section rounded-4">
            <div class="container mt-3">
                <div class="row justify-content-around">
                    <div class="col-lg-2 col-sm-4 mt-2">
                        <div class="card1">
                            <div class="cardLogo">
                                <img src="../../../../assets/images/projects/shopping-cart.png">
                                <p>مفروشات</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 mt-2">
                        <div class="card1">
                            <div class="cardLogo">
                                <img src="../../../../assets/images/projects/shopping-cart.png">
                                <p>خردوات</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 mt-2">
                        <div class="card1">
                            <div class="cardLogo">
                                <img src="../../../../assets/images/projects/shopping-cart.png">
                                <p>ملابس</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 mt-2">
                        <div class="card1">
                            <div class="cardLogo">
                                <img src="../../../../assets/images/projects/shopping-cart.png">
                                <p>إلكترونيات</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 mt-2">
                        <div class="card1">
                            <div class="cardLogo">
                                <img src="../../../../assets/images/projects/shopping-cart.png">
                                <p>بقالة</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 section2">
            <div class="mt-4 p-4 section">
                <div class="second-section2 rounded-4">
                    <div class="container mt-3">
                        <div class="row justify-content-around">
                            <div class="col-sm-2 mt-2">
                                <div class="card">
                                    <div class="cardhead">
                                        <h3>درس 1</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2">
                                <div class="card">
                                    <div class="cardhead">
                                        <h3>درس 2</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2">
                                <div class="card">
                                    <div class="cardhead">
                                        <h3>درس 3</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2">
                                <div class="card">
                                    <div class="cardhead">
                                        <h3>درس 4</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 mt-2">
                                <div class="card">
                                    <div class="cardhead">
                                        <h3>درس 5</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="col-6"></div>
    </div>
</div>