<div class="main container px-5">
  <h2 class="pb-2 ">الإختبار النهائي لبرنامج تأهيل رواد الأعمال</h2>
  <h2 class="mt-2 section1">الجزء الأول :</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="questions">
        <div class="question question1">
          <div class="d-flex mt-4">
            <img src="assets/images/training/Path 1577.svg" class="mt-3">
            <h3 class="pe-2 pt-3">سؤال 1</h3>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
          justify-content-center">
              <p class="pt-4">أ</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
            justify-content-center">
              <p class="pt-2">ب</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
              justify-content-center">
              <p class="pt-2">ج</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
                justify-content-center">
              <p class="pt-2">د</p>
            </div>
          </div>

        </div>
        <div class="question question2">
          <div class="d-flex mt-4">
            <img src="assets/images/training/Path 1577.svg" class="mt-3">
            <h3 class="pe-2 pt-3">سؤال 2</h3>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
          justify-content-center">
              <p class="pt-4">أ</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
            justify-content-center">
              <p class="pt-2">ب</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
              justify-content-center">
              <p class="pt-2">ج</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
                justify-content-center">
              <p class="pt-2">د</p>
            </div>
          </div>

        </div>
        <div class="question question3">
          <div class="d-flex mt-4">
            <img src="assets/images/training/Path 1577.svg" class="mt-3">
            <h3 class="pe-2 pt-3">سؤال 3</h3>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
          justify-content-center">
              <p class="pt-4">أ</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
            justify-content-center">
              <p class="pt-2">ب</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
              justify-content-center">
              <p class="pt-2">ج</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
                justify-content-center">
              <p class="pt-2">د</p>
            </div>
          </div>

        </div>
        <div class="question question4">
          <div class="d-flex mt-4">
            <img src="assets/images/training/Path 1577.svg" class="mt-3">
            <h3 class="pe-2 pt-3">سؤال 4</h3>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
          justify-content-center">
              <p class="pt-4">أ</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
            justify-content-center">
              <p class="pt-2">ب</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
              justify-content-center">
              <p class="pt-2">ج</p>
            </div>
            <div class=" circle rounded-circle border border-1 border-white d-flex align-items-center
                justify-content-center">
              <p class="pt-2">د</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 d-lg-block d-none">
      <div>
        <img src="assets/images/training/Group 1652.svg" class="image">
      </div>
    </div>
  </div>
  <div class="mt-3 pb-2 next  d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <button class=" nav-link px-3 btn btn1" routerLink="/auth/login">
        <img src="assets/images/training/Group 1634.svg" class="ps-2">
        التالي</button>
    </div>
    <div>
      <button class="nav-link px-3  btn btn2 m-auto" routerLink="/auth/login">
        من 8 : 10 أسئلة</button>
    </div>
  </div>
</div>
