@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";
  }

  img {
    height: 30px;
  }

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $main-color;
    font-family: "Bahij";
  }

  .section1 {
    color: #FFB300;
    margin-bottom: 0;
  }

  p {

    font-weight: 600;
    font-size: 14px;
    color: $main-color;
  }

  .circle {
    background: linear-gradient(315deg, #FFFFFF, #F7F7F8, #EBECED);
    width: 50px;
    height: 50px;
    margin: 0px 10px;

    p {
      color: $main-color;
      font-size: 20px;
      font-weight: 600;
    }


  }

  .answer {
    p {
      color: $main-color;
      font-size: 20px;
      padding-top: 10px;
      font-weight: 600;
    }
  }

  .next {
    .btn1 {
      background: linear-gradient(to right, #359BBA, #07487C);
      color: $white-color;
      padding: 10px 0;

      img {
        width: 20px;
      }
    }

    .btn2 {
      background-color: $main-color;
      color: $white-color;
      padding: 10px 0;
      font-size: 15px;
    }
  }

  .btn-active {
    background-color: #D6F7FF;
  }

  .question {
    margin-top: 40px;
  }

  .question1 {
    padding-right: 10px;
  }

  .question2 {
    padding-right: 30px;
  }

  .question3 {
    padding-right: 50px;
  }

  .question4 {
    padding-right: 70px;
  }

  .image {

    height: 100%;
  }
}
