<div class=" mt-4">
    <div class="container bg-white p-4 rounded-4 second-section ">
      <div class="row align-items-center">
        <div class="col-lg-5 offset-lg-1">
          <h3 class="pb-2">
            <!-- <img src="../assets/images/training/12.svg" class="ps-1"> -->
            مستشارى
          </h3>
          <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص الـعربى، حيث يمكنك
            أن تولد
            مثل هذا النص أو العديد من النصوص</p>
          <!-- <button class="nav-link px-4  btn btn1" routerLink="/auth/login">
            <img src="../assets/images/training/Group 530.svg" class="ps-2">
            مشاهدة الدورة كاملة</button> -->
          <button class="nav-link px-4  btn btn1 mt-2" routerLink="/auth/login">
            <img src="../assets/images/training/Group 1634.svg" class="ps-2">
            دخول</button>
        </div>
        <div class="col-lg-6 ">
          <h4 class="text-center pt-3 demo">فيديو ديمو لشرح الخدمة</h4>
          <img src="../assets/images/services/Mask Group 5.png" class="d-block w-75 m-auto">
        </div>
      </div>
    </div>
  </div>
  