@import "../../../../../assets/styles/variables.scss";

.second-section {
  border: 1px solid $main-color;

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $main-color;
    font-family: "Bahij";

    h4{
    color: $main-color!important;
    }

    img {
      width: 35px;
    }
  }

  p {
    font-size: 16px;
  }
  .btn1 {
    background: linear-gradient(to right, #359BBA, #07487C);
    color: $white-color;
    padding: 13px 0;

    img {
      width: 20px;
    }
  }

  .btn2 {

    color: $main-color;
    padding: 13px 0;
    border: 1px solid $main-color;
    font-weight: bold;

    img {
      width: 25px;
    }
  }

}

.demo{
    color: $main-color;
}
