<nav class="navbar navbar-expand-lg navbar-light"  *ngIf="!_Router.url.includes('/auth')">
  <div class="container">
    <!-- Brand/logo (left-aligned) -->
    <a class="navbar-brand" href="#"><img src="assets/images/logo.svg" class="w-75"></a>

    <!-- Toggle button for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation items (right-aligned) -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home/" routerLinkActive="activeLink">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/training/" routerLinkActive="activeLink">التدريب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services/" routerLinkActive="activeLink">الخدمات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/club/" routerLinkActive="activeLink">النادي</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects/" routerLinkActive="activeLink">إطلاق المشاريع</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wheelOfLuck/" routerLinkActive="activeLink">دولاب الحظ</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/auth/login/" routerLinkActive="activeLink" *ngIf="!isUserLoggedIn">الدخول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart/" routerLinkActive="activeCart" *ngIf="isUserLoggedIn"><i class="fa-solid fa-cart-shopping cartIcon"></i></a>
          <div class="cart-couneter">
            <span>{{this.cartItemsNum || 0}}</span>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-3"><img src="assets/images/nav/Group 43493.svg" *ngIf="isUserLoggedIn" class="w-75"></a>
        </li>

        <!-- <div class="social-media d-flex me-3">
          <li class="nav-item">
            <a class="nav-link  mx-0"><img src="assets/images/nav/youtube (1).svg" class="w-75"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-0"><img src="assets/images/nav/search (2).svg" class="w-75"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-0"><img src="assets/images/nav/twitter (1).svg" class="w-75"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-0"><img src="assets/images/nav/facebook (1).svg" class="w-75"></a>
          </li>

        </div> -->

        <div class="info d-flex align-items-center me-2" routerLink="/profile/" *ngIf="isUserLoggedIn">
          <div class="text-start ps-2 mt-3">
            <p>{{ userDetails.name }}
              <br>
              <span>{{ userDetails.email }}</span>
            </p>

          </div>
          <div>
            <img src="assets/images/nav/default_avatar.png" style="width: 45px;">
          </div>

        </div>
        <!-- <li *ngIf="!isUserLoggedIn" class="nav-item pe-lg-5">
          <button class="nav-link px-4  btn" routerLink="/auth/login"> تسجيل الدخول</button>
        </li>
        <li *ngIf="isUserLoggedIn" class="nav-item pe-lg-5">
          <button class="nav-link px-4  btn" (click)="logout()"> تسجيل الخروج</button>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
