<div class="mt-4" *ngIf="cartItems && cartItems.length > 0">
  <div class="container mt-4 pb-4">
    <div class="row">
      <!-- total -->
      <div class="total col-4" *ngIf="cartItems && cartItems.length > 0">
        <div style="position: relative; direction: rtl">
          <div class="inputDiv">
            <input
            type="text"
            placeholder="أدخل كود الكوبون إذا كنت تمتلك واحدًا"
            class="coupon-input"
            style="padding-left: 20%;"
            [(ngModel)]="couponCode"
          />
          <button
            type="button"
            class="applyBtn"
            (click)="applyCoupon(couponCode, totalPrice)"
          >
            تطبيق
          </button>
          </div>
          <h4 *ngIf="codeError" class="text-danger codeError">
            {{ codeError }}
          </h4>
          <h4 *ngIf="codeMsg" class="text-success codeMsg">{{ codeMsg }}</h4>
        </div>

        <div class="cart-price">
          <h4>
            سعر العناصر المضافة: <span>{{ totalPrice }}</span> ريال
          </h4>
          <h4>
            <!-- قيمة الخصم: <span>{{ discount || 0 }}</span> ريال -->
            قيمة الخصم: <span *ngIf="!totalAfterCoupon">0</span>
            <span *ngIf="totalAfterCoupon">{{ totalPrice - totalAfterCoupon }}</span> ريال
          </h4>
        </div>
        <hr />
        <h1>
          السعر الإجمالي:
          <span class="totalPrice" *ngIf="totalAfterCoupon">{{ totalAfterCoupon }}</span>
          <span class="totalPrice" *ngIf="!totalAfterCoupon">{{ totalPrice }}</span>
          ريال
        </h1>

        <button class="btn w-100 paymentBtn" (click)="redirectToPayment()">ادفع الآن</button>
      </div>
    <!-- cART -->
      <div class="col-8">
        <h2 class="pb-3 cartHead">السلة</h2>
        <div
          *ngFor="
            let item of cartItems | paginate : config;
            let colIndex = index
          "
        >
          <div class="px-3 pt-4 bg-white my-border">
            <div>
              <p class="text-center p1" *ngIf="item.bundle != null">
                {{ item.bundle.title}}
              </p>
              <p class="text-center p1" *ngIf="item.bundle === null">
                {{ item.course.title.ar || item.course.title.en }}
              </p>
              <p
                *ngIf="item.course"
                (click)="redirectBio(item.course.user.id)"
                class="text-center p2 mt-3 cursor-pointer"
              >
                {{ item.course.user.name }}
              </p>
              <p
                *ngIf="item.bundle"
                (click)="redirectBio(item.bundle.user.id)"
                class="text-center p2 mt-3 cursor-pointer"
              >
                {{ item.bundle.user.name }}
              </p>
              <div class="d-flex py-1">
                <img src="assets/images/training/10.svg" class="image" />
                <p class="mb-0 pe-2 text-muted muted">النوع:</p>
                <span class="mb-0 pe-2" *ngIf="item.type == 'course'"
                  >دورات أونلاين</span
                >
                <span class="mb-0 pe-2" *ngIf="item.type == 'bundle'"
                >مسارات تعليمية</span
                >
                <div *ngIf="item.type != 'course' && item.type != 'bundle'">
                  <span class="mb-0 pe-2">مكتبة المهارات</span>
                </div>
              </div>
              <div class="d-flex py-1" *ngIf="item.type != 'bundle'">
                <img src="assets/images/training/3.svg" class="image" />
                <p class="mb-0 pe-2 text-muted muted">المدة:</p>
                <span class="mb-0 pe-2" 
                  >{{ item.course.duration || 0 }} دقيقة</span
                >
              </div>
              <div class="d-flex py-1 mb-3" *ngIf="item.type != 'bundle'">
                <img src="assets/images/training/star.png" class="image" />
                <p class="mb-0 pe-2 text-muted muted">
                  {{ item.course.reveiw }} نجوم
                </p>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <div class="text-center">
                  <h2 class="mb-0" *ngIf="item.type != 'bundle'">
                    {{ item.course.price }}
                  </h2>
                  <h2 class="mb-0" *ngIf="item.type === 'bundle'">
                    {{ item.bundle.price }}
                  </h2>
                  <p class="mt-0">ريال</p>
                </div>

                <div>
                  <div class="login">
                    <button
                      class="btn w-100"
                      id="cartBtn"
                      (click)="removeFromCart(item.id)"
                    >
                      <i
                        class="fa-solid fa-trash"
                        (click)="removeFromCart(item.id)"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="has-text-centered mt-4">
          <pagination-controls
            [id]="config.id || ''"
            [maxSize]="maxSize"
            [directionLinks]="directionLinks"
            [autoHide]="autoHide"
            [responsive]="responsive"
            [previousLabel]="labels.previousLabel"
            [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="onPageChange($event)"
            (pageBoundsCorrection)="onPageBoundsCorrection($event)"
          ></pagination-controls>
        </div>
      </div>

      
    </div>
    <div *ngIf="isLoading" class="row">
      <div class="col-lg-3 course-col">
        <div class="card rounded-4 p-3 pb-4">
          <!-- <div class="card__image rounded-2"></div> -->
          <div class="card__content">
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <hr />
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 course-col">
        <div class="card rounded-4 p-3 pb-4">
          <!-- <div class="card__image rounded-2"></div> -->
          <div class="card__content">
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <hr />
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 course-col">
        <div class="card rounded-4 p-3 pb-4">
          <!-- <div class="card__image rounded-2"></div> -->
          <div class="card__content">
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <hr />
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 course-col">
        <div class="card rounded-4 p-3 pb-4">
          <!-- <div class="card__image rounded-2"></div> -->
          <div class="card__content">
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <h2 class="mt-2"></h2>
            <hr />
            <p class="mb-0"></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="mt-4" *ngIf="!cartItems || cartItems.length === 0">
    <p class="noCartItems">
      <i class="fa-solid fa-triangle-exclamation text-warning"></i> لم تقم
      بإضافة أي عنصر في السلة
    </p>
  </div>
</div>
