<div class="main px-5">
    <div class="row mt-3">
        <div class="col-lg-8">
            <h2 class="header">
                المشتريات
            </h2>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
                width: 20px;
            ">صفحة الإعلان هي الصفحة الوحيدة التي يمكن للجمهور الخارجي
مشاهدتها ووضع الإعجاب</h3>
           
          
            <div class="m-5">
                <a>يشترط لوضع الإعجاب تسجيل (الاسم - رقم الجوال)</a>
            </div>

          
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="mt-3">
                <img src="../../../../assets/images/projects/Group 2028.png" class="d-block ideaImg m-auto">
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <div class="box">
                        <p class="mx-3">اسم المنتج</p>
                        <div class="white-box d-flex align-items-center justify-content-center">
                            <div class="">
                                <img src="assets/images/projects/Layer_1_14_.png" class="m-auto mx-2" style="
                                width: 130px;
                            "/>
                            </div>
                        </div>
                        <span class="mx-3">سعر المنتج : 00،000</span>
                        <span class="like mx-3">980 <img src="assets/images/projects/4.png"class="m-auto mx-2" style="
                            width: 20px;
                        "/></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="box">
                        <p class="mx-3">اسم المنتج</p>
                        <div class="white-box d-flex align-items-center justify-content-center">
                            <div class="">
                                <img src="assets/images/projects/Layer_1_14_.png" class="m-auto mx-2" style="
                                width: 130px;
                            "/>
                            </div>
                        </div>
                        <span class="mx-3">سعر المنتج : 00،000</span>
                        <span class="like mx-3">980 <img src="assets/images/projects/4.png"class="m-auto mx-2" style="
                            width: 20px;
                        "/></span>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="col-lg-12
        d-flex justify-content-start align-items-center">
            <div class="">
                <button class=" btn btn1 mt-5" routerLink="">
                    التالى</button>
            </div>
        </div>
    </div>
</div>