<div class="main container px-5 pb-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                اضافة مقال </h2>
            <h3>نموذج لاضافة مقال : </h3>
        </div>

    </div>
    <div class="mt-4 second-section rounded-4 p-4 ">
        <div class="container mt-3">
            <form [formGroup]="addBlogForm" class="">
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="title" class="col-sm-4 col-form-label"> عنوان المقال : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="title" class="form-control" id="inputitle" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputslug" class="col-sm-4 col-form-label"> عنوان مختصر : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="slug" class="form-control" id="inputslug" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputurl" class="col-sm-4 col-form-label"> الرابط : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="" class="form-control" id="inputurl" placeholder="">
                            </div>
                        </div>
                    </div> -->
                    </div> -->
                </div>
                <div class="form-group row mt-3">
                    <label for="inputdesc" class="col-sm-2 col-form-label"> تفاصيل المقال : </label>
                    <div class="col-sm-10">
                        <textarea type="text"  formControlName="description"  class="form-control" id="inputdesc" placeholder=""></textarea>
                    </div>
                </div>
                <!-- <div class="form-group row mt-3">
                    <label for="inputdcate" class="col-sm-2 col-form-label"> الفئه: </label>
                    <div class="col-sm-3">
                        <p-dropdown placeholder="تحديد الفئه" 
                        formControlName="category_id"
                        [options]="categories"
                        optionLabel="title.ar"
                        optionValue="id"
                        (onChange)="category($event)"
                        styleClass="w-100 text-center fw-bold "
                            id="inputdcate"></p-dropdown>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputdate" class="col-sm-4 col-form-label"> تاريخ النشر : </label>
                            <div class="col-sm-7">
                                 <mat-form-field>
                                    <mat-label>اختر تاريخ </mat-label>
                                    <input matInput formControlName="authored_date" [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field> -->
                            <!--</div>
                        </div>
                    </div> -->
                    <!--<div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputdate" class="col-sm-4 col-form-label"> وقت النشر : </label>
                            <div class="col-sm-7">
                                <input type="time" formControlName="authored_time" id="with_placeholder" placeholder='hh:mm'
                                    onfocus="this.placeholder = ''" class="form-control">
                            </div>
                        </div>
                    </div>-->

                </div> 
                <div class="row">

                    <div class="col-lg-6 col-sm-12 mt-3">
                        <!-- <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label"> صورة مصغرة للعمل : </label>
                            <div class="col-sm-8">
                                <ngx-dropzone (change)="onImageUpload($event)" class="position-relative">
                                    <ngx-dropzone-label *ngIf="!profileImage" class="w-100">
                                      <img src="../../../../assets/images/services/Folder.png" alt="upload image" class=" mt-1 d-block m-auto">
                                      <p class="mt-2 text-muted text-center mb-2">إرفق صور او فديو او صوت هنا لبدء التحميل</p>
                                      <button type="button" class="btn rounded-3 btn1
                                                            fit-content px-3 mx-auto d-block">Browse
                                                            files</button>
                                    </ngx-dropzone-label>
                                    <img *ngIf="profileImage" [src]="sanitize(profileImage)" alt="user_image" class="user_image">
                                    <div *ngIf="imageIsLoading" class="position-absolute overlay top-0 start-0 end-0 bottom-0">
                                      <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
                                    </div>
                                  </ngx-dropzone>
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label"> صورة مصغرة للعمل : </label>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="uploadBox">
                                        <img src="../../../../assets/images/services/Folder.png"
                                            class="d-block w-20 m-auto boxImg">
                                        <p>إرفق صور او فديو او صوت هنا لبدء التحميل</p>
                                        <p>- أو -</p>
                                        <!-- <button class="nav-link px-4  btn btn1 mt-2 m-auto" routerLink="">Browse
                                            files</button> -->
                                            <input type="file" (change)="onFileSelected($event)" />
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12
                         d-flex justify-content-end align-items-center">
                    <div class="">
                        <button class=" btn btn1 mt-5" 
                            (click)="addArticle()">
                            اضافة</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<app-modal id="article" classList="modal-dialog-centered">
    <div class="row">
        <div class="col-2 d-flex justify-content-center align-items-center">
            <div class=" m-auto">
                ../../../../assets/images/projects/98.png -->
              <!--  <img src="../../../../assets/images/projects/98.png" class="modalImg ">
            </div>
        </div>
        <div class="col-10">
            <div class="card-body bg-white rounded-4">
                <div class="d-flex flex-column align-items-center gap-3" style="margin-left: 65px;">
                    <h3 class="fw-600 text-center mt-3">تم إضافة المقال</h3>
                    <h3 class="text-center">سيتم الموافقة عليها أولا من الأدمن الرئيسي قبل عرضها</h3>
                    <button type="button" class="btn btn1
                      mx-auto px-5 d-flex align-items-center gap-4" (click)="close()">تم</button>
                </div>
            </div>
        </div>
    </div>
</app-modal> -->/app-modal>