<div class="main container px-5 pb-5">
  <h2 class="pb-3 ">دولاب الحظ</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="header-p">جرب دولاب الحظ لتربح معنا العديد من الجوائز
          <br>
          مثل التسجيل في دورة مجانية , ربح النقاط , وهكذا
        </p>

        <div class="d-flex align-items-center">
          <div class="square">
          </div>
          <p class="pt-3 pe-2">شروط وأحكام لعبة دولاب الحظ</p>
        </div>
        <ul class="pe-4">
          <li>
            <p class="header-p">لا يمكن اللعب الا مرة واحدة يوميا ( بعد 24 ساعة من وقت البداية )</p>
          </li>
          <li>
            <p class="header-p">
              إذا اردت اللعب مرة أخري في نفس اليوم يخصم من المحفظة
            </p>
          </li>
          <li>
            <p class="header-p">
              يتم تغيير محتوي اللعبة من حين الي الاخر
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
