<div>


  <div class="container main mt-3">
    <header class="rounded-4">
      <div class="background-video position-relative">
        <video autoplay loop muted class="rounded-4">
          <source src="assets/images/home/Roaad (6).mp4" type="video/mp4">
        </video>
        <div class="position-absolute layer rounded-4 d-flex align-items-center justify-content-center">
          <div>
            <h1>منصة UP ريادة الأعمال </h1>
            <p>نـدعمـك ونـساعـدك</p>
          </div>
        </div>
        <!-- <div class="position-absolute layer2 d-flex">
          <div class="form-group input-with-image ">
            <input type="email" class="form-control search" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="بحث">
            <img src="assets/images/home/Group 4.svg" alt="Image" class="placeholder-image" />
          </div>
          <button class="px-4  btn me-2">بحث</button>
        </div> -->
      </div>
    </header>

    <section class="section2 pt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pe-3">
            <h2 class="pt-5">من نحن </h2>
            <p class="mt-5">منصة عصرية لاحتضان ودعم رواد الاعمال الطموحين والحالمين بتحويل أفكارهم الى واقع واطلاق
              مشاريعهم وذلك من خلال حزمة من الخدمات والبرامج التدريبية </p>
          </div>
          <div class="col-lg-6 container-image">
            <img src="assets/images/training/Mask Group 2.png" class="d-block img-fluid m-auto">
          </div>
        </div>
      </div>
    </section>

    <section class="section3 py-5 ">
      <h2 class="pb-5 text-center">الاعتمادات الجامعية</h2>
      <div class="position-relative">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="w-50 container bg-white rounded-4">
              <div class="row align-items-center">
                <div class="col-lg-6 ">

                  <img src="assets/images/home/KingAbdulazizUniversity.svg" class="d-block img-fluid m-auto">

                </div>
                <div class="col-lg-6">
                  <div class="px-3 py-4">
                    <!-- <h4>جامعة الملك عبدالعزيز</h4>
                      <p>هذا النص هو مثال لـنص يمكن أن يستبدل في نـفس
                        الـمسـاحة، لـقـد تـم تـوليد هـذا الـنص من مولد النص
                        العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد
                        من النصوص الأخرى إضافة إلى زيـادة عـدد الـحـروف
                        التى يولدها التطبيق</p> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="w-50 container bg-white rounded-4">
              <div class="row align-items-center">
                <div class="col-lg-6 ">

                  <img src="assets/images/home/KingAbdulazizUniversity.svg" class="d-block img-fluid m-auto">

                </div>
                <div class="col-lg-6">
                  <div class="px-3 py-4">
                    <!-- <h4>جامعة الملك عبدالعزيز</h4>
                      <p>هذا النص هو مثال لـنص يمكن أن يستبدل في نـفس
                        الـمسـاحة، لـقـد تـم تـوليد هـذا الـنص من مولد النص
                        العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد
                        من النصوص الأخرى إضافة إلى زيـادة عـدد الـحـروف
                        التى يولدها التطبيق</p> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="w-50 container bg-white rounded-4">
              <div class="row align-items-center">
                <div class="col-lg-6 ">

                  <img src="assets/images/home/KingAbdulazizUniversity.svg" class="d-block img-fluid m-auto">

                </div>
                <div class="col-lg-6">
                  <div class="px-3 py-4">
                    <!-- <h4>جامعة الملك عبدالعزيز</h4>
                      <p>هذا النص هو مثال لـنص يمكن أن يستبدل في نـفس
                        الـمسـاحة، لـقـد تـم تـوليد هـذا الـنص من مولد النص
                        العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد
                        من النصوص الأخرى إضافة إلى زيـادة عـدد الـحـروف
                        التى يولدها التطبيق</p> -->
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
    </section>

    <section class="section4 py-5 ">
      <div class="container bg-white rounded-5 p-4 section4-bg">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="d-flex">
              <img src="assets/images/home/Rectangle 50.svg">
              <h2 class="pt-4 pe-3">ما الذي يمكننا <br><br>ان نـقـدمة لـك</h2>
            </div>
          </div>
          <div class="col-lg-7">

            <img src="assets/images/home/Component7.svg" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section5 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="px-2">
              <h2>المسارات التدريبية</h2>
              <p class="ps-lg-5">تستهدف دورات المنصة تزويد رائد الاعمال بالمعرفة الضرورية لاستكشاف ذاته وقدراته الكامنة
                في مجال ريادة الاعمال من خلال هذه المسارات حيث تتيح فرصة للتدريب الاحترافي الذي يستوفي معايير الجودة
                العالمية السائدة في مجالات ( دراسات الجدوى – المشتريات – المبيعات – الجودة – الماليه وغيرها )
                يحتوي كل مسار على 6 دورات تدريبية مع مدربين مختصين في 6 مجالات بشهادات معتمدة من جامعات حكومية وخاصة .
              </p>
              <h2 class="mt-5 pt-5 title-paths-card">نساعدك تعرف مسارك</h2>
              <p class="mt-0">مسار تأهيل روَّاد الأعمال</p>
              <div class="d-flex align-items-end">
                <button class="nav-link px-5  btn btn1" routerLink="/auth/login">
                  <img src="assets/images/training/Group 1634.svg" class="ps-2">
                  دخول</button>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="container mt-4">
              <div class="row  mb-0">
                <div class="col-4 offset-4 px-2 path-card-container">
                  <div class="first-card my-cards  rounded-3 p-4" routerLink="training-paths">
                    <div class="rounded-4  bg-white">
                      <h3 class="text-center mb-0 pt-2 mb-2">مسار تأهيل</h3>
                      <p class="text-center mt-0 pb-4">سعر المسار</p>
                      <div class="d-flex justify-content-around">
                        <span>cap</span>
                        <h4>120</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-4 path-card-container  px-2">
                  <div class="third-card my-cards  rounded-3 p-4" routerLink="skills-library">
                    <div class="rounded-4  bg-white">
                      <h3 class="text-center mb-0 pt-2 mb-2">مسار تطوير</h3>
                      <p class="text-center mt-0 pb-4">سعر المسار</p>
                      <div class="d-flex justify-content-around">
                        <span>cap</span>
                        <h4>120</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-0">
                <div class="col-4 px-1">

                </div>
                <div class="col-4 path-card-container px-2" id="advanced-card">
                  <div class="second-card my-cards  rounded-3 p-4" routerLink="online-courses">
                    <div class="rounded-4  bg-white">
                      <h3 class="text-center mb-0 pt-2 mb-2">مسار تمكين</h3>
                      <p class="text-center mt-0 pb-4">سعر المسار</p>
                      <div class="d-flex justify-content-around">
                        <span>cap</span>
                        <h4>120</h4>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </section>

    <section class="section6 py-5">
      <h2 class="text-center">قسم إطلاق المشاريع</h2>


      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="w-75 m-auto  pt-3 pb-5 projects-container">
            <div class="row container m-auto align-items-stretch">

              <div class="col-lg-4">
                <div class="p-1 h-100">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>فرصتي</h3>
                      <div class="p-scroll">
                        <p class="mt-0 ">اختصرنا الوقت والمجهود وجمعنا لك أبرز فرص الامتياز التجاري المتاحة،
                          بالإضافة إلى
                          معلوماتها التفصيلية ونطاقاتها ( محلي- إقليمي- دولي)، كل ما عليك هو الإختيار والبدء في قصة
                          نجاحك </p>
                      </div>
                    </div>
                    <!-- <hr>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-1 h-100 ">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>شريكي </h3>
                      <div class="p-scroll">
                        <p class="mt-0 ">قوائمنا من رواد الأعمال الناجحين جاهزة لتبدأ البحث عن الشريك المناسب
                          بحسب
                          المدينة أو المشروع أو رأس المال.</p>
                      </div>

                    </div>
                    <!-- <hr>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-1 h-100 ">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>مشروعي</h3>
                      <div class="p-scroll">
                        <p class="mt-0 ">نهدف لتمكينك كرائد أعمال من استخدام إمكانيات الذكاء الاصطناعي؛ لتعيش
                          تجربة نوعية
                          تحاكي ظروف إطلاق المشروعات الريادية. الأمر الذي سيمكنك من تعديل الخطط والقرارات في الوقت
                          المناسب بناء على نتائج المحاكاة، وبالتالي تقليل نسبة المخاطرة.</p>
                      </div>

                    </div>

                    <!--
                       <hr>
                      <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-1 h-100 ">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>تمويلي</h3>
                      <div class="p-scroll">
                        <p class="mt-0">بحثنا وجمعنا الحلول التمويلية من الجهات المصرفية وشركات الاستثمار
                          والمبيعات
                          بالأجل، لتتمكن من استثمار وقتك في المقارنة واختيار العرض الأنسب لمشروعك وظروفه.</p>
                      </div>
                    </div>
                    <!-- <hr>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-1 h-100 ">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>فريقي</h3>
                      <div class="p-scroll">
                        <p class="mt-0 ">نساعدك على اختيار افراد فريقك باختلاف التخصصات التي تحتاجها، من مختلف
                          البلدان عن
                          بعد.</p>
                      </div>

                    </div>
                    <!-- <hr>
                    <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>

                </div>
              </div>
              <div class="col-lg-4">
                <div class="p-1 h-100 ">
                  <div class="bg-white rounded-4 card px-2 h-100 py-4 ">
                    <div class="text-center h-100">
                      <h3>تجربتي </h3>
                      <div class="p-scroll">
                        <p class="mt-0 ">يمكنك استعراض تجارب رواد الأعمال الريادية الواعدة التي انطلقت واستمرت
                          في النمو.
                          كمايمكنك أن تشاركنا قصة نجاحك ، لتحولها إلى نموذج ملهم للآخرين.</p>
                      </div>

                    </div>

                    <!--
                        <hr>
                      <div class="d-flex justify-content-between align-items-end mt-3">
                      <div>
                        <span class="pe-2">سعر الخدمة</span>
                        <h4 class="pt-3">120 <sub><span>cap</span></sub> </h4>
                      </div>
                      <div class="mt-4 image">
                        <img src="assets/images/home/Group 292.svg">
                      </div>
                    </div> -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </ng-template>



      </owl-carousel-o>


    </section>
    <section class="section7 py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pe-3">
            <h2 class="pt-5">قسم نادي رواد الأعمال</h2>
            <p class="mt-5">نقدم لك قبة ريادية نجمع تحتها الطموحين معاً، ونوفر لهم بيئة تفاعلية افتراضية تمكنهم من تبادل
              الخبرات وتعزيز المهارات؛ بهدف بناء مشاريعهم الريادية </p>
          </div>
          <div class="col-lg-6">
            <div class="mt-2">
              <div class="circle bg-white p-4 rounded-circle">
                <div class="d-flex h-100 align-items-center justify-content-center">
                  <div>
                    <h3 class=" mt-3">سعر الخدمة</h3>
                    <h4 class="pt-5">120 <sub><span>cap</span></sub> </h4>
                    <div class="mt-5 image m-auto">
                      <img src="assets/images/home/Group 292.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </section>
    <section class="section8 py-5 ">
      <div class="container cover">
        <div class="row">

          <div class="col-lg-12 rounded-4 position-relative">
            <div class="bg-white position-relative data rounded-4">

              <div class="container">
                <div class="row">
                  <div class="col-md-7">
                    <div class="p-5 text-center">
                      <h3>العملة الرقمية لمنصة ريادة الأعمال</h3>
                      <h4 class="py-3">CAP</h4>
                      <p class="text-end text-muted pe-3">
                        <span>
                          العملة الرقمية
                        </span>
                        <br>
                        هي عملة خاصة يتم استخدامها بمنصة Up وهو مصطلح مختصر يقصد به رأس المال
                        Capitalization
                        المعادلة :
                        CAP 1 = 2 ريالين
                      </p>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img src="./assets/images/home/Mask Group 4.svg" class="rounded-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="mt-4 mb-3 float-start d-block nav-link px-3 btn btn1">
          <img src="assets/images/home/Group 563.svg" class="ps-2">
          أعرف المزيد</button>

      </div>
    </section>

  </div>

  <footer class="py-5">
    <div class="contact-us position-relative container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="p-2 ">
            <div class="bg-white my-border p-4">
              <div class="row">
                <div class="col-md-6 pe-4">
                  <h3>تواصل معنا</h3>
                  <!-- <p class="text-muted">هذا النص هو مثال لنـص يمكن أن يستبدل فـي نـفس المساحة، لقد تم تـولـيـد هذا النص
                    من مولد النص العربي</p> -->
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                      placeholder="رسالتك"></textarea>
                  </div>
                  <div class="input-with-button d-flex rounded-5">
                    <button type="button" class="btn btn-send  rounded-5 px-4">إرسال</button>
                    <input type="email" placeholder="البريد الالكتروني"
                      class="form-control left-placeholder text-muted">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-3 pe-4">
          <h2>نادي روَّاد الأعمال</h2>
          <p>منصة عصرية لاحتضان ودعم رواد الاعمال الطموحين والحالمين بتحويل أفكارهم الى واقع واطلاق مشاريعهم وذلك من
            خلال حزمة من الخدمات والبرامج التدريبية
          </p>
          <div class="d-flex pt-5">
            <img src="assets/images/home/6.svg" class="h-50">
            <p class="pe-2">الرياض، المملكة العربية السعودية</p>
          </div>
          <div class="d-flex pb-0">
            <img src="assets/images/home/7.svg" class="h-50">
            <p class="pe-2 ">ebtehaj@up-tc.net</p>
          </div>
          <div class="d-flex pb-0">
            <img src="assets/images/home/8.svg" class="h-50">
            <p class="pe-2">0546003250</p>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2">
          <div class="d-flex align-items-end h-100">
            <ul class=" pe-4">
              <li> <a class="nav-link" routerLink="/home/">الرئيسية</a></li>
              <li> <a class="nav-link" routerLink="/training/" routerLinkActive="activeLink">الدورات التدريبية</a></li>
              <li>خـدمـاتــنـا</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="d-flex align-items-end h-100">
            <ul class="pe-4">
              <li>سياسة الخصوصية</li>
              <li>الشروط والأحكام</li>
              <li>مساعدة</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-3 follow pe-5">
          <div class="d-flex  h-100 align-items-end">
            <div>
              <h2>تابعنا</h2>
              <div class="mt-3 d-flex h-100 align-items-end">
                <div class="ps-3 image mt-2">
                  <a href="https://www.youtube.com/@Up-ut3wo" target="_blank"> <img
                      src=" assets/images/home/youtube (1).svg"></a>
                </div>
                <div class="px-3 image mt-2">
                  <a href="https://www.instagram.com/up2.sa/" target="_blank">
                    <img src=" assets/images/home/search (2).svg">
                  </a>
                </div>
                <div class="px-3 image mt-2">
                  <a href="https://twitter.com/up2_s" target="_blank">
                    <img src=" assets/images/home/twitter (1).svg">
                  </a>
                </div>
                <div class="px-3 image ">
                  <!-- <a href="http://" target="_blank">
                    <img src=" assets/images/home/facebook (1).svg">
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-start end-page  ps-5 ">
      <p >جميع الحقوق محفوظة لموقع نادي روَّاد الأعمال 2023 © </p>
    </div>
  </footer>
</div>