<div class="main container px-5">

    <h2 class="header">
        تفاصيل المشروع
    </h2>
    <div>

        <div class="first-section d-flex  align-items-center justify-content-between">
            <div class="name-container d-flex align-items-center ">
                <h3>اسم المشروع : </h3>
                <h5> {{partner?.part_title}}</h5>
            </div>
            <div class="image-container">
                <img src="https://fakeimg.pl/350x200/000000/fff">
            </div>
        </div>
        <div class="second-section d-flex  justify-content-between ">
            <h3>
                تفاصيل المشروع :
            </h3>
            <h5>
                {{partner?.part_desc}}
            </h5>
        </div>
        <div class="thrid-section d-flex  justify-content-between ">
            <h3 style="width: 100px">
                القواعد :
            </h3>
            <h5>
                {{partner?.part_rules}}
            </h5>
        </div>

        <div class="thrid-section d-flex  align-items-center">
            <h3>
                الموقع :
            </h3>
            <h5>
                {{partner?.part_location}}
            </h5>
        </div>
        <div class="thrid-section d-flex  align-items-center justify-content-around">

            <div class="d-flex align-items-center">

                <h3>
                    نسبة الشريك :
                </h3>
                <h5>
                    {{partner?.part_percentage}}
                </h5>
            </div>
        </div>

    </div>

</div>