<div class="main container px-5 pb-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="pb-3 ">قسم أطلاق المشاريع</h2>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص هذا النص هو مثال لنص يمكن أن يستبدل
                في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص
            </p>
        </div>
        <div class="col-lg-6">
            <div class="container m-auto">
            <div class="row">
               
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="first-card my-cards  rounded-3 p-4" routerLink="training-paths">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/12.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>فرصتى</h3>
                                <!-- <p class="text-center pb-3">سعر المسار</p>
                   <span class="price">120</span><span class="cap">cap</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="second-card my-cards  rounded-3 p-4" routerLink="online-courses">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/Layer 17.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>تمويلى</h3>
                                <!-- <p class="text-center pb-3">سعر المسار</p>
                    <span class="price">120</span><span class="cap">cap</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="third-card my-cards  rounded-3 p-4" routerLink="skills-library">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/10.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>فريقى</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="first-card my-cards  rounded-3 p-4" routerLink="training-paths">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/12.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>مشروعى</h3>
                                <!-- <p class="text-center pb-3">سعر المسار</p>
                   <span class="price">120</span><span class="cap">cap</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="second-card my-cards  rounded-3 p-4" routerLink="online-courses">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/Layer 17.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>تصميمى</h3>
                                <!-- <p class="text-center pb-3">سعر المسار</p>
                    <span class="price">120</span><span class="cap">cap</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 px-1 mt-3">
                        <div class="third-card my-cards  rounded-3 p-4" routerLink="skills-library">
                            <div class="rounded-4 text-center bg-white py-4">
                                <!-- <img src="assets/images/training/10.svg" class="d-block m-auto pt-3 pb-2"> -->
                                <h3>شريكى</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>