<div class="main container px-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="pb-3 ">نادي روَّاد الأعمال</h2>
      <p>
        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
        هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص
      </p>
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-md-5">
          <div class="second-card my-cards  rounded-3  mt-2">
            <div class="rounded-4 bg-white text-center py-2 details">
              <p class="pb-2">سعر الخدمة</p>
              <h4>120</h4>
              <span>cap</span>
            </div>
          </div>

        </div>
      </div>
      <div class="my-alert rounded-3 mt-3 me-5">
        <p> يجب أن يكون المشترك مسجل في المسارات في التدريبية </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container mt-3">
        <img src="assets/images/training/Mask Group 2.png" class="d-block  w-75 m-auto">
        <div class="d-flex  mt-4 justify-content-end ms-5">
          <button class=" nav-link px-3 btn btn1">
            <img src="assets/images/training/Group 1634.svg" class="ps-2">
            إشتراك</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="mt-4 section-two pb-5">
    <h3>شروط القبول في النادي</h3>
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <p class="pt-3 pe-2">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        الـعربى، حيث يمكنك أن تولد مثل هذا النص </p>
    </div>
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <p class="pt-3 pe-2">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        الـعربى، حيث يمكنك أن تولد مثل هذا النص </p>
    </div>
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <p class="pt-3 pe-2">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        الـعربى، حيث يمكنك أن تولد مثل هذا النص </p>
    </div>
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <p class="pt-3 pe-2">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        الـعربى، حيث يمكنك أن تولد مثل هذا النص </p>
    </div>
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <p class="pt-3 pe-2">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
        الـعربى، حيث يمكنك أن تولد مثل هذا النص </p>
    </div>

    <div class="d-flex justify-content-between">
      <div>

        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'min-width':'150px'}"
          placeholder="أختر المدينة"></p-dropdown>
      </div>
      <div>
        <div class="form-check mt-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            اوافق على الشروط والأحكام
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6 section">
        <div class="p-2">
          <div class="bg-white rounded-4">
            <div class="p-2">
              <div class="rounded-4 child p-2 ">
                <h3 class="text-center mt-2">اسم الفعالية</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-1">
                      <img src="assets/images/club/g195.svg">
                    </div>
                    <div class="col-4">
                      <p> التاريخ :</p>
                    </div>

                    <div class="col-6">
                      <p>12-12-2024</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-1">
                      <img src="assets/images/club/g15.svg">
                    </div>
                    <div class="col-4">
                      <p> المدينة:</p>
                    </div>

                    <div class="col-6">
                      <p>الرياض</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn1 px-2 d-block m-auto mt-3">التسجيل في  الفعالية</button>
              <div class="d-flex justify-content-between px-2 end-child">
                <p>التقديم كمشرف</p>
                <p>التصويت</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 section">
        <div class="p-2">
          <div class="bg-white rounded-4">
            <div class="p-2">
              <div class="rounded-4 child p-2 ">
                <h3 class="text-center mt-2">اسم الفعالية</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-1">
                      <img src="assets/images/club/g195.svg">
                    </div>
                    <div class="col-4">
                      <p> التاريخ :</p>
                    </div>

                    <div class="col-6">
                      <p>12-12-2024</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-1">
                      <img src="assets/images/club/g15.svg">
                    </div>
                    <div class="col-4">
                      <p> المدينة:</p>
                    </div>

                    <div class="col-6">
                      <p>الرياض</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn1 px-2 d-block m-auto mt-3">aaaaaaaa</button>
              <div class="d-flex justify-content-between px-2 end-child">
                <p>التقديم كمشرف</p>
                <p>التصويت</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 section">
        <div class="p-2">
          <div class="bg-white rounded-4">
            <div class="p-2">
              <div class="rounded-4 child p-2 ">
                <h3 class="text-center mt-2">اسم الفعالية</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-1">
                      <img src="assets/images/club/g195.svg">
                    </div>
                    <div class="col-4">
                      <p> التاريخ :</p>
                    </div>

                    <div class="col-6">
                      <p>12-12-2024</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-1">
                      <img src="assets/images/club/g15.svg">
                    </div>
                    <div class="col-4">
                      <p> المدينة:</p>
                    </div>

                    <div class="col-6">
                      <p>الرياض</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn1 px-2 d-block m-auto mt-3">aaaaaaaa</button>
              <div class="d-flex justify-content-between px-2 end-child">
                <p>التقديم كمشرف</p>
                <p>التصويت</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
