<div>
    <div class="row mb-5">
        <div class="col-lg-3 mt-3">
            <div class="startTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            تاريخ البداية</h5>
                  
                    </div>
                    <div class="col-6 left">
                        <h5>
                            11/11/2023</h5>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="endTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            بداية الوقت</h5>
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/clock.png" style="width:15px;"/>
                            نهاية الوقت</h5>
                    </div>
                    <div class="col-6 left">
                        <h5>09:00 am</h5>
                        <h5>05:00 am</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="period">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/Layer 2.png" style="width:15px;"/>
                            المده</h5>
                    </div>
                    <div class="col-6">
                        <h5>45 ساعة و 20 دقيقة</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-3 mt-3">
            <div class="startTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            تاريخ الأنتهاء</h5>
                  
                    </div>
                    <div class="col-6 left">
                        <h5>
                            11/11/2023</h5>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="endTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            بداية الوقت</h5>
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/clock.png" style="width:15px;"/>
                            نهاية الوقت</h5>
                    </div>
                    <div class="col-6 left">
                        <h5>09:00 am</h5>
                        <h5>05:00 am</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="period">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/Layer 2.png" style="width:15px;"/>
                            المده</h5>
                    </div>
                    <div class="col-6">
                        <h5>45 ساعة و 20 دقيقة</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>