<div class="main container px-5 pb-5">
  <h2 class="pb-3 mb-4">البرنامج التأهيلي لروَّاد الأعمال</h2>
  <div class="mt-4 mainSection px-4 py-5 rounded-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4">
          <img src="assets/images/training/Group 43261.svg" class="img-fluid">
          <p class="pe-2">دراسة الجدوي</p>
        </div>
        <div class="col-lg-4">
          <div class=" main-circle rounded-circle d-flex  align-items-center">
            <div class="rounded-circle sup-circle d-flex justify-content-center align-items-center">
              <span>تأهيلي</span>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-3">
              <button class="nav-link px-3  btn btn1" routerLink="/training/course">
                <img src="assets/images/training/Group 1634.svg" class="ps-2">
                بدء الدورة</button>
            </div>
            <div class="col-lg-6  ">
              <div class="px-5">
                <div class="bg-white rounded-3 main-div">
                  <div class="sub-div rounded-3 d-flex justify-content-center align-items-end">
                    <img src="assets/images/training/Group 1606.svg" class="w-50">
                  </div>
                  <img src="assets/images/training/Time of lesson.svg" class="time">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
