<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <div class="d-inline-block pt-2">
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد</p>
            </div>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">محاكاة المشاريع</h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div>
                <img src="../../../../assets/images/projects/Mask Group 1.png" class="d-block w-75 m-auto">
            </div>
        </div>
    </div>

    <div class="mt-4 p-4 section">
        <div class="second-section rounded-4">
            <div class="container mt-3">
                <div class="row justify-content-around">
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../../../../assets/images/projects/03.png" class="m">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../../../../assets/images/projects/Path 1862.png" class="m">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../../../../assets/images/projects/shopping-cart.png" class="m">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>