<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <div class="d-inline-block pt-2">
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد</p>
            </div>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">محاكاة المشاريع</h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div>
                <img src="../../../../assets/images/projects/Mask Group 1.png" class="d-block w-75 m-auto">
            </div>
        </div>
    </div>

    <div class="my-5">
        <img src="../../../../assets/images/projects/Group 43497.png" class="d-block w-75 m-auto">
    </div>


    <div class="mt-4 p-4 section">
        <div class="second-section rounded-4">
            <h4 class="chooseProject">أختر مجال المشروع</h4>
            <div class="container mt-3">
                <div class="row justify-content-around">
                    <div *ngFor="let category of categories" class="col-lg-3 mt-2">
                        <div class="card1" (click)="getCategoryDetails(category.id)">
                            <img src="../../../../assets/images/projects/Group 1839.png" class="m-auto img-fluid">
                            <div class="circleImage cursor-pointer" routerLink="/projects/choose-project">
                                <img src="../../../../assets/images/projects/03.png" class="m">
                                <p>{{category.name}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <img src="../../../../assets/images/projects/Group 1839.png" class="m-auto img-fluid">
                            <div class="circleImage cursor-pointer" routerLink="/projects/choose-project">
                                <img src="../../../../assets/images/projects/Path 1862.png" class="m">
                                <p>مفروشات</p>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <img src="../../../../assets/images/projects/Group 1839.png" class="m-auto img-fluid">
                            <div class="circleImage cursor-pointer" routerLink="/projects/choose-project">
                                <img src="../../../../assets/images/projects/shopping-cart.png" class="m">
                                <p>مفروشات</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <ngx-spinner *ngIf="!isLoading" bdColor="rgba(0, 0, 0, 0.2)" size="medium" color="#fff"
    type="square-jelly-box" fullScreen="false"></ngx-spinner>
</div>