@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;
  padding-bottom: 150px !important;

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";

  }
  h4 {
    font-weight: bold;
    font-size: 18px;
    color: $main-color;
    font-family: "Bahij";

  }
  h3 {
    font-weight: bold;
    font-size: 25px;
    color: #ffb300;
    font-family: "Bahij";
    margin-top: 20px;

    img {
      width: 25px;
      margin: 10px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-family: "Bahij";
    color: $main-color;
    margin-top: 10px;
  }
}

.demo {
  color: $main-color;
}

.price {
  color: $main-color;
  font-size: 50px;
  font-weight: bold;
}

.cap {
  color: $main-color;
}

.btn1 {
  background: linear-gradient(to right, #359bba, #07487c);
  color: $white-color;
  padding: 13px 0;

  img {
    width: 20px;
  }
}
.second-section {
  margin-bottom: -150px;
}

  .card1{
    background-color: #fff;
    color:$main-color;
    text-align: center;
    border-radius: 10px;
    padding:10px;
    height:380px;
  }
  .circleImage{
    border-radius: 50%;
    border:1px solid $light-blue;
    width: 100px;
    height: 100px;
    margin: auto;
  }

.m {
  width: 50px;
  height: 50px;
  margin: 22px;
}

.section {
  background-color: #07487c;
  /* height: 100%; */
  overflow: revert;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .section {
    padding: 0 !important;
  }
}

   .all {
    background-image: url(../../../../assets/images/training/trainingBack.png);
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
  }
  
  .loader{
    position: relative;
  }
  
  ::ng-deep .ngx-spinner-overlay{
    position:absolute!important;
  }

  
::ng-deep {
  .ngx-pagination {
      width: fit-content;
      padding-left: 0;
      margin-bottom: 0 !important;
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
  }

  .ngx-pagination .pagination-next a:after,
  .ngx-pagination .pagination-next.disabled:after {
      content: "\f053" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-left: 0 !important;
  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before {
      content: "\f054" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-right: 0 !important;
  }

  .ngx-pagination .current {
      background-color: #07487C;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
      aspect-ratio: 1 / 1 !important;
      display: flex;
      align-items: center;

  }

  .ngx-pagination li a {
      border-radius: 50% !important;
  }

  .ngx-pagination li.pagination-previous,
  .ngx-pagination li.pagination-next {
      border: 1px solid #E7E7E7;
      padding: 10px;
      border-radius: 50%;
      // aspect-ratio: 1/1 !important;

      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;


      a {
          padding: 10px !important;
      }

      &::before {}
  }
}

::ng-deep .ngx-spinner-overlay{
  position:absolute!important;
  z-index: 99 !important;
}

.modalImg{
  width:40px;
}


