<div class="main container px-5 pb-4">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="pb-3 ">مجتمعى</h2>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص هذا النص هو مثال لنص يمكن أن يستبدل
                في نفس المساحة، لقد تم توليد
                هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص
            </p>
        </div>
        <div class="col-lg-6">
            <div>
                <h4 class="text-center pt-3 demo">فيديو ديمو لشرح الخدمة</h4>
                <img src="../assets/images/services/Mask Group 4.png" class="d-block w-75 m-auto">
            </div>
        </div>
    </div>
    <div class="mt-4 p-4 section">
        <div class="second-section rounded-4">
            <div class="container mt-3">
                <div class="row justify-content-around">
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../assets/images/services/images.png" class="m">
                            </div>
                            <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن
                                مولد النص العربى، حيث يـمكنك أن تولد مــثــل</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../assets/images/services/images.png" class="m">
                            </div>
                            <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن
                                مولد النص العربى، حيث يـمكنك أن تولد مــثــل</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-2">
                        <div class="card1">
                            <div class="circleImage">
                                <img src="../assets/images/services/images.png" class="m">
                            </div>
                            <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن
                                مولد النص العربى، حيث يـمكنك أن تولد مــثــل</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>