@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;
  padding-bottom: 20px;

  h2 {
    font-weight: bold;
    font-size: 75px;
    color: $main-color;
    line-height: 80px;
    font-family: "Bahij";
  }

  .header {
    font-size: 35px;
  }

  h3 {
    font-weight: 700;
    font-size: 30px;
    color: #ffb300;
    font-family: "Bahij";
  }

  .content {
    height: 65vh !important;

    .my-border {
      background-color: $light-blue;
      height: 5px;
      margin-top: 23px;
    }
  }
}
.define {
  margin-right: 75px;
  border-right: 6px solid #3ca7c3;
  padding-right: 5px;
  border-radius: 5px;
}

.second-section {
  background-color: #d3ebff;
  position: relative;
}

::ng-deep .ngx-spinner-overlay{
  position:absolute!important;
}


.card1 {
  background-color: $main-color;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 75px;
}

.btn2 {
  background-color: #ffb300;
  color: $white-color;
  padding: 13px 0;
}

.card-circle {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bg-white {
  color: $light-blue;
  h5,
  p,
  .cap,
  h6 {
    color: $main-color;
  }
}

h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.price {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  
}

.cap {
  color: #fff;
}

h6 {
  color: #ffb300;
  font-size: 22px;
  margin-bottom: 15px;
}
.card-circle img {
  width: 60px;
}

.specialCard {
  background-color: $main-color;
  border-radius: 10px;
  color: #fff;

  p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
  }
}

.specialCard1 {
  background-color: #fff;
  color: $main-color;
  border-radius: 10px;
  border: 1px solid $main-color;
  p {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 18px;
  }
}

// media Query
@media screen and (max-width: 992px) {
  .searchBar {
    margin-bottom: 75px;
  }
  .searchBarInput {
    margin-bottom: 10px;
  }

  .card1 {
    margin-bottom: 65px;
  }
}

@media (max-width: 400px) {
  .main {
    padding: 0 30px !important;
    .header {
      font-size: 25px !important;
      margin-bottom: 0px !important;
    }
    h3 {
      font-size: 23px !important;
      img {
        width: 26px;
      }
    }
    .define {
      border-right: 6px solid #3ca7c3;
      margin: 0;
      margin-bottom: 15px;
    }
  }
  .price {
    font-size: 55px;

  }
}

.modalImg{
  width:40px;
}

.btn1 {
  background: linear-gradient(to right, #359BBA, #07487C);
  color: $white-color;
  padding: 15px 30px;
}



::ng-deep {
  .ngx-pagination {
      width: fit-content;
      padding-left: 0;
      margin-bottom: 0 !important;
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
  }

  .ngx-pagination .pagination-next a:after,
  .ngx-pagination .pagination-next.disabled:after {
      content: "\f053" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-left: 0 !important;
  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before {
      content: "\f054" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-right: 0 !important;
  }

  .ngx-pagination .current {
      background-color: #07487C;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
      aspect-ratio: 1 / 1 !important;
      display: flex;
      align-items: center;

  }

  .ngx-pagination li a {
      border-radius: 50% !important;
  }

  .ngx-pagination li.pagination-previous,
  .ngx-pagination li.pagination-next {
      border: 1px solid #E7E7E7;
      padding: 10px;
      border-radius: 50%;
      // aspect-ratio: 1/1 !important;

      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;


      a {
          padding: 10px !important;
      }

      &::before {}
  }
}
