<div class="main container px-5">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">فريقي</h3>
            <div class="define">
                <!-- <img src="assets/images/projects/Rectangle 194.png" class="ps-2 d-inline-block"> -->
                <div class="d-inline-block pt-2">
                    <p>نص تعريفي بالخدمة نص تعريفي</p>
                    <p>بالخدمة نص تعريفي بالخدمة</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 m-auto">
            <div class="row">
                <div class="col-lg-3">
                    <div class="specialCard">
                        <p>البرمجة و التصاميم</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="specialCard1">
                        <p>محامى</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="specialCard1">
                        <p>محاسب</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="specialCard1">
                        <p>call center</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-4 second-section rounded-4 p-4">
        <div class="container mt-3">
            <div class="row justify-content-around mt-5">
                <div class="col-lg-4">
                    <div class="card1 pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 29.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 bg-white pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 28.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 bg-white pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 28.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 bg-white pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 28.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 bg-white pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 28.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 bg-white pt-5">
                        <div class="card-circle d-flex justify-content-center align-items-center">
                            <div>
                                <img src="assets/images/projects/شــعـارمـــزودالخدمة.png" class="">
                            </div>
                        </div>
                        <h5><img src="assets/images/projects/Ellipse 28.png" class="m-auto mx-2">معلومات عن الخدمة</h5>
                        <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد
                            النص العربى، حيث
                            يـمكنك أن تولد مــثــل</p>
                        <div class="row declare mt-4">
                            <div class="col-6">
                                <h6>سعر الخدمة</h6>
                                <span class="price">120</span><span class="cap">ريال</span>
                            </div>
                            <div class="col-6 d-flex align-items-end justify-content-end">
                                <div class="d-flex justify-content-center mt-3">
                                    <button class="nav-link px-4  btn btn2 mt-2" routerLink="">وظفنى</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>