<div class="main container px-5">
  <div class="mt-4 section-two pb-5">
    <div class="d-flex justify-content-between">
      <div>

        <p-dropdown [options]="Allcities" [(ngModel)]="selectedCity" [style]="{'min-width':'150px'}"
          placeholder="أختر المدينة" (onChange)="citiesFilteration($event)"></p-dropdown>
      </div>
      <div>
      </div>
    </div>
    <div class="all loader py-4 px-4 my-3 rounded-5 overflow-hidden">
      <div class="container mt-4 pb-4 ">
        <div class="row mt-5">
          <div *ngFor="let event of events | paginate: config; let colIndex = index" class="col-lg-4 col-md-6 section">
            <div class="p-2">
              <div class="bg-white rounded-4">
                <div class="p-2">
                  <div class="rounded-4 child p-2 ">
                    <a class="text-center mt-2 event-title" (click)="navigateToEventDetails(event.id)">{{event.title}}</a>
                    <div class="container">
                      <div class="row">
                        <div class="col-1">
                          <img src="assets/images/club/g195.svg">
                        </div>
                        <div class="col-4">
                          <p> التاريخ :</p>
                        </div>

                        <div class="col-6">
                          <p>{{event.created_at.split("T")[0]}}</p>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-1">
                          <img src="assets/images/club/g15.svg">
                        </div>
                        <div class="col-4">
                          <p> المدينة:</p>
                        </div>

                        <div class="col-6">
                          <p>{{event.location}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn1 px-2 d-block m-auto mt-3 cursor-pointer" routerLink="/club/activitie-schedule">التسجيل</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn1 px-2 d-block m-auto mt-3 cursor-pointer" (click)="addToCart(event.id, 'event')">إضافة للسلة</button>
                    </div>
                </div>
                  <div class="d-flex justify-content-between px-2 end-child">
                    <!-- <p>التقديم كمشرف</p>
                    <p>التصويت</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ngx-spinner *ngIf="isLoading" bdColor = "rgba(0, 0, 0, 0.2)" size = "medium" color = "#fff" type = "square-jelly-box"  fullScreen = "false"></ngx-spinner>
      </div>
      <!-- <div class="col-lg-4 col-md-6 section">
        <div class="p-2">
          <div class="bg-white rounded-4">
            <div class="p-2">
              <div class="rounded-4 child p-2 ">
                <h3 class="text-center mt-2">اسم الفعالية</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-1">
                      <img src="assets/images/club/g195.svg">
                    </div>
                    <div class="col-4">
                      <p> التاريخ :</p>
                    </div>

                    <div class="col-6">
                      <p>12-12-2024</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-1">
                      <img src="assets/images/club/g15.svg">
                    </div>
                    <div class="col-4">
                      <p> المدينة:</p>
                    </div>

                    <div class="col-6">
                      <p>الرياض</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn1 px-2 d-block m-auto mt-3 cursor-pointer" routerLink="/club/activitie-schedule">التسجيل في  الفعالية</button>
              <div class="d-flex justify-content-between px-2 end-child">
                <p>التقديم كمشرف</p>
                <p>التصويت</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 section">
        <div class="p-2">
          <div class="bg-white rounded-4">
            <div class="p-2">
              <div class="rounded-4 child p-2 ">
                <h3 class="text-center mt-2">اسم الفعالية</h3>
                <div class="container">
                  <div class="row">
                    <div class="col-1">
                      <img src="assets/images/club/g195.svg">
                    </div>
                    <div class="col-4">
                      <p> التاريخ :</p>
                    </div>

                    <div class="col-6">
                      <p>12-12-2024</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-1">
                      <img src="assets/images/club/g15.svg">
                    </div>
                    <div class="col-4">
                      <p> المدينة:</p>
                    </div>

                    <div class="col-6">
                      <p>الرياض</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn1 px-2 d-block m-auto mt-3 cursor-pointer" routerLink="/club/activitie-schedule">التسجيل في  الفعالية</button>
              <div class="d-flex justify-content-between px-2 end-child">
                <p>التقديم كمشرف</p>
                <p>التصويت</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="has-text-centered mt-4">
      <pagination-controls [id]="config.id || ''" [maxSize]="maxSize" [directionLinks]="directionLinks"
        [autoHide]="autoHide" [responsive]="responsive" [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
        [screenReaderPageLabel]="labels.screenReaderPageLabel"
        [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)"
        (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
    </div>

    <!--Schadule-->
    <div class="section rounded-3 mt-5 pb-3 p-3 bg-white">
      <div class="header rounded-3 px-3 pt-2">
        <div class="d-flex justify-content rounded-3 text-center-between ">
          <div class=" d-flex align-items-center ">
            <img src="assets/images/club/pen-filled-writing-tool.svg">
            <p class="pt-1 pe-2"> جدول الأنشطة</p>
          </div>
          <div class="d-flex align-items-center pt-1">
            <p>Year 2023</p>
          </div>
        </div>
      </div>
  
      <div class="days mt-3">
        <div class="container">
          <div class="row">
            <p-dropdown class="col-3" [style]="{'min-width':'200px'}"
             placeholder="اعرض الفعاليات في خلال فترة معينة"></p-dropdown>
          </div>
          <div class="row ">
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>SUN</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>SAT</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>FRI</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>THU</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>WED</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>TUE</p>
                </div>
              </div>
            </div>
            <div class="col-xl col-lg-3 col-md-4 mt-2">
              <div class="content rounded-3 text-center">
                <div class="day mx-2 mt-2 rounded-3">
                  <p>MON</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="mt-3">
        <textarea class="form-control rounded-3" id="exampleFormControlTextarea1" rows="3" placeholder="ملاحظات"></textarea>
      </div> -->
    </div>
  </div>