@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;

  .square {
    width: 10px;
    height: 10px;
    background-color: #FFB300;
    transform: rotate(45deg);
    border-radius: 4px;
  }

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";

  }

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $main-color;
    font-family: "Bahij";

  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Bahij";

  }

  ::ng-deep .p-dropdown .p-dropdown-label {
    color: $main-color;
    font-family: "Bahij" !important;

    .p-placeholder {
      color: $main-color;
      font-family: "Bahij" !important;

    }
  }

  .my-cards {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .second-card {
    padding: 18px 24px !important;

    .details {
      width: fit-content;
      margin: auto;
      padding: 25px;
    }

    background-image: url('/assets/images/Group 553.svg');

    p {
      font-size: 15px;
      color: $main-color;
    }

    h4 {
      font-weight: bold;
      font-size: 40px;
      color: $light-blue;
      font-family: "Bahij";
    }

    span {
      color: $main-color;
      font-weight: 600;
      font-size: 14px;
      margin-top: 10px;
      font-family: "Bahij";
    }
  }

  .my-alert {
    width: fit-content;
    background-color: red;


    p {
      margin: 0px;
      padding: 5px 10px !important;
      font-size: 13px;
      font-weight: 400;
      color: white;
    }
  }

  .btn1 {
    background: #FFB300;
    color: $white-color;
    padding: 10px 0;

    img {
      width: 20px;
    }
  }



  .section-two {
    p {
      font-size: 16px;
    }

    .form-check .form-check-input {
      float: right;
      margin-right: -1.5em;
    }
  }

  .child {
    background-color: $main-color;
    color: white;

    h3 {
      color: white;
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }


  }

  .section {
    .end-child {
      p {
        color: $main-color !important;
      }
    }

    .content {
      border: 1px solid $main-color;
      min-height: 250px;

      .day {
        background-color: #FFB300;
        color: white;
      }
    }

    textarea {
      min-height: 150px;
      background-color: #EFEFEF;
      border: unset;

      /* top left and top right */
    }

    textarea::placeholder {
      font-size: 14px;
      font-weight: 700;
      padding: 10px 5px;
      color: black;
    }

  }
}


::ng-deep {
  .ngx-pagination {
      width: fit-content;
      padding-left: 0;
      margin-bottom: 0 !important;
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
  }

  .ngx-pagination .pagination-next a:after,
  .ngx-pagination .pagination-next.disabled:after {
      content: "\f053" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-left: 0 !important;
  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before {
      content: "\f054" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-right: 0 !important;
  }

  .ngx-pagination .current {
      background-color: #07487C;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
      aspect-ratio: 1 / 1 !important;
      display: flex;
      align-items: center;

  }

  .ngx-pagination li a {
      border-radius: 50% !important;
  }

  .ngx-pagination li.pagination-previous,
  .ngx-pagination li.pagination-next {
      border: 1px solid #E7E7E7;
      padding: 10px;
      border-radius: 50%;
      // aspect-ratio: 1/1 !important;

      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;


      a {
          padding: 10px !important;
      }

      &::before {}
  }
}



.card {
  // width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .card__image,
  h2,
  p {
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1s shine linear infinite;
  }

  .card__image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .card__content {
      // padding: 20px;
  }

  h2 {
      height: 30px;
  }

  p {
      height: 70px;
      width: 100%;
      // float:left;
  }
}

.all {
  background-image: url(../../../../assets/images/training/trainingBack.png);
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
}

.loader{
  position: relative;
}

::ng-deep .ngx-spinner-overlay{
  position:absolute!important;
}


@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;

  .square {
    width: 10px;
    height: 10px;
    background-color: #FFB300;
    transform: rotate(45deg);
    border-radius: 4px;
  }

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";

  }

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $main-color;
    font-family: "Bahij";

  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Bahij";

  }

  .section {
    //border: 1px $main-color solid;

    .header {
      background-image: url('./../../../../assets/images/club/Group 43498.png');
      background-position: center;
      background-size: cover;

      img {
        height: 50%;
      }

      p {
        color: white;
      }
    }

    

  }
}

.event-title{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
}