<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <h3>نموذج تعبئة موظف لدى قسم فريقي : </h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="">
                <button class=" btn btn1 mt-5" routerLink="">
                    تقديم</button>
            </div>
        </div>
    </div>
    <div class="mt-4 second-section rounded-4 p-4">
        <div class="container mt-3">
                <form class="">
                   <div class="row">
                        <div class="col-lg-6 mt-3">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">مجال العمل : </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">المسمي الوظيفي : </label>
                                <div class="col-sm-7">
                                  <input type="text" class="form-control" id="inputEmail3" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label">نبذة تعريفية : </label>
                                <div class="col-sm-7">
                                  <textarea type="text" class="form-control" id="inputEmail3" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-4 col-form-label"> المهارات : </label>
                                <div class="col-sm-7">
                                  <textarea type="text" class="form-control" id="inputEmail3" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>