<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <h3>نموذج تعبئة موظف لدى قسم فريقي : </h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <!-- <div class="">
                <button class=" btn btn1 mt-5" routerLink="">
                    تقديم</button>
            </div> -->
        </div>
    </div>
    <div class="mt-4 second-section rounded-4 p-4">
        <div  class="container mt-3">
            <form [formGroup]="teamForm" class="">
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">مجال العمل : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="free_service_name" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">المسمي الوظيفي : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="free_jobtitle" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">نبذة تعريفية : </label>
                            <div class="col-sm-7">
                                <textarea type="text" formControlName="free_service_desc" class="form-control" id="inputEmail3" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label"> المهارات : </label>
                            <div class="col-sm-7">
                                <textarea type="text" formControlName="free_service_skills" class="form-control" id="inputEmail3" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group row mt-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"> معرض الأعمال : </label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputEmail3" placeholder=""></textarea>
                    </div>
                </div> -->
                <div class="form-group row mt-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"> عنوان العمل : </label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="service_location" class="form-control" id="inputEmail3" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 mt-3">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label"> صورة مصغرة للعمل : </label>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="uploadBox">
                                        <img src="../../../../assets/images/services/Folder.png" class="d-block w-20 m-auto boxImg">
                                        <p>إرفق صور او فديو او صوت هنا لبدء التحميل</p>
                                        <p>- أو -</p>
                                        <!-- <button class="nav-link px-4  btn btn1 mt-2 m-auto" routerLink="">Browse
                                                        files</button> -->
                                        <input type="file" (change)="onFileSelected($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 mt-3">
                        <div class="form-group row mt-3">
                            <label for="inputdcate" class="col-sm-2 col-form-label"> الفئه: </label>
                            <div class="col-sm-7">
                                <p-dropdown placeholder="تحديد الفئه" 
                                formControlName="service_category"
                                [options]="categories"
                                optionLabel="scategory_name"
                                optionValue="id"
                                styleClass="w-100 text-center fw-bold "
                                    id="inputdcate"></p-dropdown>
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">  صور او ملفات او رابط للتحميل : </label>
                            <div class="col-sm-8">
                                <div class="box d-flex justify-content-center align-items-center">
                                    <div class="uploadBox">
                                        <img src="../../../../assets/images/services/Folder.png"
                                            class="d-block w-20 m-auto boxImg">
                                        <p>إرفق صور او فديو او صوت هنا لبدء التحميل</p>
                                        <p>- أو -</p>
                                        <button class="nav-link px-4  btn btn1 mt-2 m-auto" routerLink="">Browse
                                            files</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label"> التكلفة من : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="service_cost_from" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">التكلفة إلى : </label>
                            <div class="col-sm-7">
                                <input type="text" formControlName="service_cost_to" class="form-control" id="inputEmail3" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 mt-3">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"> نبذة عن العمل : </label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="inputEmail3" placeholder=""></textarea>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-12
                         d-flex justify-content-end align-items-center">
                    <div class="">
                        <button class=" btn btn1 mt-5" (click)="onSubmit()">
                            تقديم</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<app-modal id="teamModal" classList="modal-dialog-centered">
    <div class="row">
        <div class="col-2 d-flex justify-content-center align-items-center">
            <div class=" m-auto">
                <img src="../../../../assets/images/projects/98.png"
                class="modalImg ">
            </div>
        </div>
        <div class="col-10"> 
            <div class="card-body bg-white rounded-4">
                <div class="d-flex flex-column align-items-center gap-3" style="margin-left: 65px;">
                  <h3 class="fw-600 text-center mt-3">تم تقديم طلبك وهو الآن قيد المراجعة</h3>
                  <button  type="button" class="btn btn1
                      mx-auto px-5 d-flex align-items-center gap-4" (click)="cancel()" >العودة للصفحة الرئيسية</button>
                </div>
              </div>
        </div>
    </div>
</app-modal>