@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;

  h2 {
    font-weight: bold;
    font-size: 75px;
    color: $main-color;
    line-height: 80px;
    font-family: "Bahij";
  }

  .header {
    font-size: 35px;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    color: #FFB300;
    font-family: "Bahij";
  }

  .content {
    height: 65vh !important;

    .my-border {
      background-color: $light-blue;
      height: 5px;
      margin-top: 23px;
    }

  }
}


.btn1 {
    background: linear-gradient(to right, #359BBA, #07487C);
    color: $white-color;
    padding: 15px 30px;
  }

  .second-section {
    background-color: #F6F6F6;
    border:1px solid $main-color;
  }
//   .form-control{
//     display: inline-block;
//     width:inherit;
//   }
//   label{
//     padding: 10px;
//   }