<div class="main px-5">
    <div class="row mt-3">
        <div class="col-lg-6">
            <h2 class="header">
                دراسة جدوي
            </h2>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
                width: 20px;
            ">تكلفة الديكور يجب ان لا تتجاوز نسبة معية يتم تحديدها من قبل إدارة
                المحتوي حسب المشروع </h3>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
    width: 20px;
">الرسوم الحكومية يتم تحديها من قبل إدارة المحتوي</h3>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
    width: 20px;
">جميع القيم المدخلة يتم خصمها من راس المال</h3>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
    width: 20px;
">ترحل القيمة المدخلة في تكلفة التسويق الي مرحلة التسويق</h3>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2" style="
    width: 20px;
">المتبقي من النثريات كأرباح للمشروع</h3>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div class="mt-3">
                <img src="../../../../assets/images/projects/Group 2025.png" class="d-block ideaImg m-auto">
            </div>
        </div>
        <div class="col-lg-12
        d-flex justify-content-start align-items-center">
   <div class="">
       <button class=" btn btn1 mt-5" routerLink="/projects/purchases">
           التالى</button>
   </div>
</div>
    </div> 
</div>