<div class="main container px-5 pb-4">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="pb-3 ">أختبارى</h2>
      <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
      </p>
    </div>
    <div class="col-lg-6 left-section">
      <!-- <div class="container">
        <div class="row d-flex justify-content-end">
          <div class="col-4 px-1">
            <div class="second-card my-cards  rounded-3 p-4" routerLink="/services/local-certificate"  routerLinkActive="activeLink">
              <div class="rounded-4 text-center bg-white">
                <img src="assets/images/services/certificate-file.png" class="d-block m-auto my-3 pt-3 pb-2">

                <p class="text-center pb-3">شهادة محلية</p>
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="third-card my-cards  rounded-3 p-4" routerLink="/services/international-certificate" routerLinkActive="activeLink" >
              <div class="rounded-4 text-center bg-white">
                <img src="assets/images/services/Layer_x0020_1.png" class="d-block m-auto my-3 pt-3 pb-2">
                <p class="text-center pb-3">شهادة دولية</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <!-- <h3>شهادة محلية</h3> -->
  <div class="mt-4 second-section rounded-4 p-4">
    <div class="container mt-3">
      <div class="row justify-content-around">
        <div  *ngFor="let exam of exams" class="col-lg-3">
          <div class="card2">
          <h5>{{exam.title.ar}}</h5>
          <p>{{exam.about.ar}}</p>
          <span><img src="assets/images/services/Group 2993.png">جامعة الإمام محمد بن سعود الإسلامية</span>
          <hr>
          <div class="row declare">
            <div class="col-lg-6">
              <h6>السعر</h6>
              <span class="price">{{exam.price}}</span><span class="cap">ريال</span>
            </div>
            <div class="col-lg-6 d-flex align-items-end justify-content-end">
              <div class="d-flex justify-content-center mt-3">
                <button class="nav-link px-4  btn btn2 mt-2" routerLink="">
                   أضافة للسلة</button>
              </div>
            </div>
          </div>
        </div>
        <div class="details">
          <a (click)="details(exam.id)" routerLinkActive="activeLink" class="text-white cursor-pointer" >عرض تفاصيل الشهادة</a>
        </div>
        </div>
        <!-- <div class="col-lg-3">
          <div class="card2">
          <h5>أسم الشهادة</h5>
          <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد النص العربى، حيث
            يـمكنك أن تولد مــثــل</p>
          <span class="card-span"><img src="assets/images/services/Group 2993.png">جامعة الإمام محمد بن سعود الإسلامية</span>
          <hr>
          <div class="row declare">
            <div class="col-lg-6">
              <h6>السعر</h6>
              <span class="price">19</span><span class="cap">ريال</span>
            </div>
            <div class="col-lg-6 d-flex align-items-end justify-content-end">
              <div class="d-flex justify-content-center mt-3">
                <button class="nav-link px-4  btn btn2 mt-2" routerLink="">
                  أختبر الأن</button>
              </div>
            </div>
          </div>
        </div>
          <div class="details">
            <a routerLink="/services/local-certificate/certificate-details" routerLinkActive="activeLink" >عرض تفاصيل الشهادة</a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card3">
          <h5>أسم الشهادة</h5>
          <p>هذا النص هو مثال لنص يمكن أن يـسـتبدل في نفس المساحة، لقد تم تـولــيـد هـذا الـنص مـن مولد النص العربى، حيث
            يـمكنك أن تولد مــثــل</p>
          <span class="card-span"><img src="assets/images/services/Group 2993.png">جامعة الإمام محمد بن سعود الإسلامية</span>
          <hr>
          <div class="row declare">
            <div class="col-lg-6">
              <h6>السعر</h6>
              <span class="price">19</span><span class="cap">ريال</span>
            </div>
            <div class="col-lg-6 d-flex align-items-end justify-content-end">
              <div class="d-flex justify-content-center mt-3">
                <button class="nav-link px-4  btn btn2 mt-2" routerLink="">
                  أختبر الأن</button>
              </div>
            </div>
          </div>
          </div>
          <div class="details">
            <a routerLink="/services/local-certificate/certificate-details" routerLinkActive="activeLink" >عرض تفاصيل الشهادة</a>
          </div>
        </div> -->
      </div>
    </div>
    <ngx-spinner *ngIf="isLoading" bdColor = "rgba(0, 0, 0, 0.2)" size = "medium" color = "#fff" type = "square-jelly-box"  fullScreen = "false"></ngx-spinner>
  </div>
</div>


<app-modal id="local" classList="modal-dialog-centered">
  <div class="row">
      <div class="col-2 d-flex justify-content-center align-items-center">
          <div class=" m-auto">
              <img src="../../../../assets/images/projects/98.png"
              class="modalImg ">
          </div>
      </div>
      <div class="col-10"> 
          <div class="card-body bg-white rounded-4">
              <div class="d-flex flex-column align-items-center gap-3" style="margin-left: 65px;">
                <h3 class="fw-600 text-center mt-3">يجب تسجيل الدخول أولا</h3>
                <button  type="button" class="btn btn1
                    mx-auto px-5 d-flex align-items-center gap-4"  (click)="closer()">إلغاء</button>
              </div>
            </div>
      </div>
  </div>
</app-modal>