<div class="main container px-5 pb-5">
  <h2 class="pb-3 ">الملف الشخصي</h2>

  <div class="row">
    <div class="col-lg-8">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              المعلومات الشخصية </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="px-4 py-1">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/profile/user.svg" style="width: 20px;">
                      <h3 class="pt-4 pe-2">الاسم</h3>
                    </div>
                    <h3 class="text mx-2 pe-3 ">{{ userDetails.name }}</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="px-4 py-1">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/profile/email.svg" style="width: 20px;">
                      <h3 class="pt-3 pe-2">البريد الالكتروني</h3>
                    </div>
                    <h3 class="text mx-2 pe-3 ">{{ userDetails.email }}</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="px-4 py-1">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/profile/Path 9334.svg" style="width: 20px;">
                      <h3 class="pt-3 pe-2">رقم الجوال</h3>
                    </div>
                    <h3 class="text mx-2 pe-3 ">{{ userDetails.phone }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              المشاريع </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul class="row pe-4">

                <li class="text-muted col-md-2 px-0">
                  مشاريعي
                </li>

                <li class="text-muted col-md-2 px-0">
                  مشاريعي
                </li>
                <li class="text-muted col-md-2 px-0">
                  مشاريعي
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              الدورات </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <ul class="row pe-4">

                <li class="first-item col-md-2 px-0">
                  دوراتي
                </li>

                <li class="text-muted col-md-2 px-0">
                  اختباراتي
                </li>

              </ul>
              <p class="my-2">للأسف انت لم تسجل في أي دورة</p>
              <div class="d-flex px-4 justify-content-between">
                <button class=" btn px-5 btn1 text-white rounded-3">قم بالتسجيل في أي دورة واحصل علي خصم 40
                  بالمئة</button>
                <button class="nav-link px-5  btn btn2 ">
                  الذهاب قسم الدورات
                  <img src="assets/images/Group 1635.svg" class="ps-2">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              خدماتي </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening
              here in terms of content, but just filling up the space to make it look, at least at first glance, a bit
              more
              representative of how this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              مستشارى </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening
              here in terms of content, but just filling up the space to make it look, at least at first glance, a bit
              more
              representative of how this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              شركائي </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening
              here in terms of content, but just filling up the space to make it look, at least at first glance, a bit
              more
              representative of how this would look in a real-world application.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-3 rounded-3">
          <h2 class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed py-1 rounded-3" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              طلبات الاستشارة </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
              <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting
              happening
              here in terms of content, but just filling up the space to make it look, at least at first glance, a bit
              more
              representative of how this would look in a real-world application.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bg-white second-section rounded-3 p-3">
        <div class="row align-items-center">
          <div class=" col-4">
            <img src="assets/images/nav/default_avatar.png" class="img-fluid">
            <!-- <img *ngIf="userDetails && userDetails.image" :src="https://insrvs.com/api/image/demo/user/admin.jpg" class="img-fluid"> -->
          </div>
          <div class="col-8">
            <div class="text-end info">
              <p>{{ userDetails.name }}
                <br>
                <span>{{ userDetails.email }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class=" wallet rounded-3 my-3">
          <div class="container p-2">
            <div class="row">
              <div class="col-xl-8 ">
                <div class="d-flex">
                  <div>
                    <span>رصيد محفظتي</span>
                    <p>{{userDetails.balance}}<sub class="px-1">SR</sub></p>
                  </div>
                  <div class="mt-4">
                    <a href="" class="pe-1">+ {{cads}} نقطة</a>
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <button class="btn btn-success px-4 d-block m-auto" (click)="navigateToCardPayment()">شحن</button>
                <!-- <a href="" class="pe-1 d-block text-center mt-2">المزيد من التفاصيل</a> -->
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-logout px-4 d-block m-auto" (click)="logout()">تسجيل الخروج</button>
      </div>
    </div>
  </div>
</div>
