<div class="main container px-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="pb-3 d-inline ">البرنامج التأهيلي لروَّاد الأعمال</h2>
        <p>تفاصيل البرنامج : </p>
        <ul class="pe-3">
          <li><span *ngIf="isLoading" class=" text-center text-black">--</span>{{trainingPaths?.course?.length}} دورات
            تدريبة مقسمة علي مجالات مختلفة </li>
          <li>شهادة معتمدة</li>
          <li>اختبار نهائي + تطبيق عملي علي برنامج محاكاة المشاريع</li>
        </ul>
        <p class="pt-5">يشمل الإشتراك :</p>
        <ul class="pe-3 pb-4">
          <li>خصم<span> 35 %</span> مدتة شهر للدورات المتنوعة</li>
        </ul>
        <button class="nav-link px-3  btn btn1 mt-5" routerLink="/training/course">
          <img src="assets/images/training/Group 1634.svg" class="ps-2">
          بدء الدورة</button>
      </div>
      <div class="col-lg-6">
        <div class="mt-5">
          <div class="d-flex flex-column justify-content-center align-items-center circle rounded-circle">
            <div>
              <img src="assets/images/training/creative-writing.svg" class="d-block m-auto">
            </div>
            <div class="mt-3 px-2  text-center">
              <span>توفير المحتوي في
                أي وقت واي مكان</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-center align-items-center circle rounded-circle">
              <div>
                <img src="assets/images/training/Layer_x0020_1.svg" class="d-block m-auto">
              </div>
              <div class="mt-3 px-2  text-center">
                <span>
                  فديوهات ذات جودة
                  عالية ووضوح عالي
                </span>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center circle rounded-circle">
              <div>
                <img src="assets/images/training/lecture.svg" class="d-block m-auto">
              </div>
              <div class="mt-3 px-2  text-center">
                <span>مدربين محترفين</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>