<div class=" mt-4">
  <div class="container bg-white p-4 rounded-4 second-section ">
    <div class="row align-items-center">
      <div class="col-lg-5 offset-lg-1">
        <h3 class="pb-2">
          <img src="assets/images/training/12.svg" class="ps-1">
          مسارات تدريبية
        </h3>
        <p>انت الآن على مشارف تحقيق حلمك، وبدء مرحلة جديدة في حياتك المهنية
          ندعوك للتعرف على المسار الذي تم ترشيحك له، والاطلاع على الفرص المتاحة لك فيه
        </p>
        <button class="nav-link px-4  btn btn1" routerLink="/auth/login">
          <img src="assets/images/training/Group 530.svg" class="ps-2">
          مشاهدة الدورة كاملة</button>
        <button class="nav-link px-4  btn btn2 btn-white mt-2" routerLink="/auth/login">
          <img src="assets/images/training/Group 563.svg" class="ps-2">
          أختبار تحديد المسار</button>
      </div>
      <div class="col-lg-6 ">
        <h4 class="fw-bold text-center pt-3">ديمو دورة (مفهوم الريادة)</h4>
        <img src="assets/images/training/Mask Group 2.png" class="d-block w-75 m-auto">
      </div>
    </div>
  </div>
</div>