@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;
  padding-bottom: 30px;
  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";
    padding-bottom: 0px !important;
    border-bottom: 4px solid $light-blue;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    width: 80%;
    line-height: 30px;
    font-family: "Bahij";
    margin-top: 25px;
  }

  .second-section {
    background-color: #d3ebff;
    border: 1px solid $main-color;

    .first-card {
      color: $white-color;
      background-color: $main-color;
    }

    ul {
      margin-bottom: 0px;
    }

    .other-card {
      color: $main-color;
      background-color: $white-color;
    }

    .error {
      font-weight: 500px;

      p {
        width: fit-content;
        margin: 0px auto !important;
        line-height: unset !important;
        font-size: 15px !important;
      }
    }

    h3 {
      font-size: 24px;
      font-weight: bold;
    }

    li {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .cost {
    p {
      font-size: 18px;
      width: fit-content;
    }

    h4 {
      font-size: 33px;
      font-weight: bold;
      margin-top: 20px;
      color: #ffb300;
      text-align: center;

      sub {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }

  .btn2 {
    background-color: #ffb300;

    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
  }
}
.price {
  display: flex;
  justify-content: space-around;
}

h5 {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
  height: 8px;
}

@media only screen and (max-width: 1350px) and (min-width: 12px) {
  .price {
    display: block;
    .btn2-container {
      justify-content: center;
      margin-top: 30px;
    }
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .main {
    p {
      width: 90%;
    }
    .second-section {
      width: 100% !important;
      margin: 0 auto;
      .path-card {
        padding: 1rem !important;
        h3 {
          margin: 10px 0px;
          font-size: 22px;
        }
        ul {
          padding-left: 0;
        }
        .price {
          display: block;
          .btn2-container {
            justify-content: center;
            margin-top: 30px;
          }
        }
      }
    }
  }
}
/* ======================media query==============*/

//TABLETS
@media (min-width: 481px) and (max-width: 600px) {
}

// MOBILE
@media (max-width: 445px) {
  .main {
    p {
      width: 100%;
    }
  .second-section{
  padding:15px 5px !important;
  .path-card{
    padding: .5rem !important;
    margin-bottom: 15px;
    h3 {
      margin: 10px 0px -2px;
      font-size: 22px;
    }
    ul{
      li{
        span{
          font-size: 16px;
        }
      }
    }
  }
}
}
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
