<div class="main container px-5">
  <h2 class="pb-3 d-inline ">اختر المسار</h2>
  <p>نقدم لك باقة من الدورات التدريبة المصممة بعناية؛ لتلامس جميع احتياجاتك المعرفية. </p>
  <div class="mt-4 second-section rounded-4 p-4">
    <div class="container ">
      <div class="row align-items-stretch">
        <div class="col-lg-4 h-100 mt-3">
          <div class="p-4 first-card  rounded-5 h-100 square">
            <h3 *ngIf="isLoading" class=" text-center">--</h3>
            <h3 class=" text-center cursor-pointer" routerLink="/training/selected-path">{{trainingPaths[0]?.title}}
            </h3>
            <div class="p-3 ">
              <ul class="pe-4">
                <li><span *ngIf="isLoading" class=" text-center text-white">--</span> <span
                    *ngIf="!isLoading">{{trainingPaths[0]?.course?.length +" دورات "}}</span></li>
                <li>شهادات معتمدة</li>
                <li>تطبيق عملي</li>
              </ul>
            </div>
            <div class="price">
              <div class="cost">
                <p>
                  سعر الإشتراك
                </p>
                <h4><span *ngIf="isLoading" class=" text-center ">--.--</span> {{trainingPaths[0]?.price}}<sub>نقطة</sub></h4>
              </div>
              <div class="d-flex align-items-end">
                <button type="button" class="nav-link px-4 btn  btn2" (click)="addToCart(trainingPaths[0]?.id, trainingPaths[0]?.type)">إضافة للسلة</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 h-100 mt-3">
          <div class="p-4 other-card  rounded-5 h-100 square">
            <h3 *ngIf="isLoading" class=" text-center" style="color:#07487C">--</h3>
            <h3 class=" text-center">{{trainingPaths[1]?.title}}</h3>
            <div class="p-3 ">
              <ul class="pe-4">
                <li><span *ngIf="isLoading" class=" text-center ">--</span> <span
                    *ngIf="!isLoading">{{trainingPaths[0]?.course?.length +" دورات "}}</span></li>
                <li>شهادات معتمدة</li>
                <li>تطبيق عملي</li>
              </ul>
            </div>
            <div class="price">
              <div class="cost">
                <p>
                  سعر الإشتراك
                </p>
                <h4><span *ngIf="isLoading" class=" text-center ">--.--</span>{{trainingPaths[1]?.price}}<sub>نقطة</sub></h4>
              </div>
              <div class="d-flex align-items-end">
                  <button type="button" class="nav-link px-4 btn  btn2" (click)="addToCart(trainingPaths[1]?.id, trainingPaths[0]?.type)">إضافة للسلة</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 h-100 mt-3">
          <div class="p-4 other-card  rounded-5 h-100">
            <h3 *ngIf="isLoading" class=" text-center" style="color:#07487C">--</h3>
            <h3 class=" text-center">{{trainingPaths[2]?.title}}</h3>
            <div class="p-3 ">
              <ul class="pe-4">
                <li><span *ngIf="isLoading" class=" text-center ">--</span> <span
                  *ngIf="!isLoading">{{trainingPaths[2]?.course?.length +" دورات "}}</span></li>
                <li>شهادات معتمدة</li>
                <li>تطبيق عملي</li>
              </ul>
            </div>
            <div class="text-danger error">
              <p class="text-center">يجب إكمال مسار التمكين</p>
            </div>
            <div class="price mt-0">
              <div class="cost">
                <p>
                  سعر الإشتراك
                </p>
                <h4><span *ngIf="isLoading" class=" text-center ">--.--</span>{{trainingPaths[2]?.price}}<sub>نقطة</sub></h4>
              </div>
              <div class="d-flex align-items-end">
                <button type="button" class="nav-link px-4 btn  btn2" (click)="addToCart(trainingPaths[2]?.id, trainingPaths[0]?.type)">إضافة للسلة</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>