<div class=" mt-4">
  <div class="container bg-white p-4 rounded-4 second-section ">
    <div class="row">
      <div class="col-lg-6 offset-lg-1 pe-3">
        <h3 class="pb-2">
          <img src="assets/images/training/Layer 17.svg" class="ps-1">
          دورات أونلاين
        </h3>
        <p>نقدم مجموعة من الدورات المباشرة عبر برنامج zoom ، لنثري تجربتك الريادية، يقدمها خبراء مرخصون في مجالاتهم </p>
      </div>
      <div class="col-lg-5 container-image">
        <h4 class="fw-bold text-center ">ديمو دورة (مفهوم الريادة)</h4>
        <img src="assets/images/training/Mask Group 2.png" class="d-block img-fluid m-auto">
      </div>
    </div>
  </div>
  <div class="container mt-4 pb-4">
    <div class="row">
      <div *ngFor="let course of zoomCourses" class="col-xl-3 col-lg-4 mb-3">
        <div class="px-3 pt-4 bg-white rounded-4 my-border">
          <div>
            <p class="text-center p1">{{course.title.en}}</p>
            <p routerLink="/training/main/" class="text-center p2 mt-3">{{course.user.first_name + " " + course.user.last_name}}</p>
            <div class="d-flex py-1">
              <img src="assets/images/training/g195.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">تاريخ الدورة </p>
              <span class="mb-0 pe-2 ">{{course.class.start_date}}</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/2.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">وقت الدورة</p>
              <span class="mb-0 pe-2 ">9:00am </span>
              <span class="mb-0 pe-3 ">01:00pm</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/3.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">مدة الدورة </p>
              <span class="mb-0 pe-2 ">{{course.class.duration }}</span>
            </div>
            <div class="d-flex py-1 mb-3">
              <img src="assets/images/training/4.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">عن طريق برنامج زووم </p>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="text-center">
                <h2 class="mb-0">20</h2>
                <p class="mt-0">نقطة</p>
              </div>

              <div>
                <div class="login">
                  <button class="btn w-100 ">سجل الآن</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-3 col-lg-4 mb-3">
        <div class="px-3 pt-4 bg-white rounded-4 my-border">
          <div>
            <p class="text-center p1">دورة التدريب المهني</p>
            <p routerLink="/training/main/" class="text-center p2 mt-3">محمد عبدالله الدوسري</p>
            <div class="d-flex py-1">
              <img src="assets/images/training/g195.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">تاريخ الدورة </p>
              <span class="mb-0 pe-2 ">15-9-2023</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/2.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">وقت الدورة</p>
              <span class="mb-0 pe-2 ">9:00am </span>
              <span class="mb-0 pe-3 ">01:00pm</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/3.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">مدة الدورة </p>
              <span class="mb-0 pe-2 ">ثلاث ساعات</span>
            </div>
            <div class="d-flex py-1 mb-3">
              <img src="assets/images/training/4.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">عن طريق برنامج زووم </p>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="text-center">
                <h2 class="mb-0">20</h2>
                <p class="mt-0">نقطة</p>
              </div>

              <div>
                <div class="login">
                  <button class="btn w-100 ">سجل الآن</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mb-3">
        <div class="px-3 pt-4 bg-white rounded-4 my-border">
          <div>
            <p class="text-center p1">دورة التدريب المهني</p>
            <p routerLink="/training/main/" class="text-center p2 mt-3">محمد عبدالله الدوسري</p>
            <div class="d-flex py-1">
              <img src="assets/images/training/g195.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">تاريخ الدورة </p>
              <span class="mb-0 pe-2 ">15-9-2023</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/2.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">وقت الدورة</p>
              <span class="mb-0 pe-2 ">9:00am </span>
              <span class="mb-0 pe-3 ">01:00pm</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/3.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">مدة الدورة </p>
              <span class="mb-0 pe-2 ">ثلاث ساعات</span>
            </div>
            <div class="d-flex py-1 mb-3">
              <img src="assets/images/training/4.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">عن طريق برنامج زووم </p>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="text-center">
                <h2 class="mb-0">20</h2>
                <p class="mt-0">نقطة</p>
              </div>

              <div>
                <div class="login">
                  <button class="btn w-100 ">سجل الآن</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 mb-3">
        <div class="px-3 pt-4 bg-white rounded-4 my-border">
          <div>
            <p class="text-center p1">دورة التدريب المهني</p>
            <p routerLink="/training/main/" class="text-center p2 mt-3">محمد عبدالله الدوسري</p>
            <div class="d-flex py-1">
              <img src="assets/images/training/g195.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">تاريخ الدورة </p>
              <span class="mb-0 pe-2 ">15-9-2023</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/2.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">وقت الدورة</p>
              <span class="mb-0 pe-2 ">9:00am </span>
              <span class="mb-0 pe-3 ">01:00pm</span>
            </div>
            <div class="d-flex py-1">
              <img src="assets/images/training/3.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">مدة الدورة </p>
              <span class="mb-0 pe-2 ">ثلاث ساعات</span>
            </div>
            <div class="d-flex py-1 mb-3">
              <img src="assets/images/training/4.svg" class="image">
              <p class="mb-0 pe-2 text-muted muted">عن طريق برنامج زووم </p>
            </div>
            <div class="d-flex justify-content-between mt-2">
              <div class="text-center">
                <h2 class="mb-0">20</h2>
                <p class="mt-0">نقطة</p>
              </div>

              <div>
                <div class="login">
                  <button class="btn w-100 ">سجل الآن</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
