@import "../../../../../assets/styles/variables.scss";

.second-section {
  border: 1px solid $main-color;

  h3 {
    font-weight: bold;
    font-size: 25px;
    color: $main-color;
    font-family: "Bahij";

    img {
      width: 35px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
  }

  .container-image {
    height: fit-content;

    img {
      height: 220px;
    }

  }



  // .btn1 {
  //   background: linear-gradient(to right, #359BBA, #07487C);
  //   color: $white-color;
  //   padding: 13px 0;

  //   img {
  //     width: 20px;
  //   }
  // }

  // .btn2 {

  //   color: $main-color;
  //   padding: 13px 0;
  //   border: 1px solid $main-color;
  //   font-weight: bold;

  //   img {
  //     width: 25px;
  //   }
  // }
}

.p1 {
  font-size: 22px;
  color: $main-color;
  font-family: "Bahij";
  font-weight: 800;
}

.p2 {
  font-size: 15px;
  color: #FFB300;
  font-family: "Bahij";
  font-weight: 700;
}

h2 {
  font-size: 40px;
  color: #FFB300;
  font-family: "Bahij";
  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: bold;
  font-family: "Bahij";

}

.login button {
  background: linear-gradient(to right, #359BBA, #07487C);
  color: $white-color;
  padding: 5px 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.muted {
  font-size: 14px;
}

span {
  font-weight: bold;
}

.image {
  height: 20px;
}

.my-border {
  border: 1px solid $main-color;
  // min-height: 280px;
}

::ng-deep {
  .ngx-pagination {
      width: fit-content;
      padding-left: 0;
      margin-bottom: 0 !important;
      background-color: #FFFFFF;
      border-radius: 30px;
      padding: 10px;
      display: flex;
      align-items: center;
  }

  .ngx-pagination .pagination-next a:after,
  .ngx-pagination .pagination-next.disabled:after {
      content: "\f053" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-left: 0 !important;
  }

  .ngx-pagination .pagination-previous a:before,
  .ngx-pagination .pagination-previous.disabled:before {
      content: "\f054" !important;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      margin-right: 0 !important;
  }

  .ngx-pagination .current {
      background-color: #07487C;
      border: 1px solid #E7E7E7;
      border-radius: 50%;
      aspect-ratio: 1 / 1 !important;
      display: flex;
      align-items: center;

  }

  .ngx-pagination li a {
      border-radius: 50% !important;
  }

  .ngx-pagination li.pagination-previous,
  .ngx-pagination li.pagination-next {
      border: 1px solid #E7E7E7;
      padding: 10px;
      border-radius: 50%;
      // aspect-ratio: 1/1 !important;

      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      overflow: hidden;


      a {
          padding: 10px !important;
      }

      &::before {}
  }
}


.card {
  // width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .card__image,
  h2,
  p {
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1s shine linear infinite;
  }

  .card__image {
      height: 200px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .card__content {
      // padding: 20px;
  }

  h2 {
      height: 30px;
  }

  p {
      height: 70px;
      width: 80%;
      float:left;
  }
}




.all {
  background-image: url(../../../../../assets/images/training/trainingBack.png);
  background-size: cover;
  background-position: center center;
  min-height: 50vh;
  position: relative;
}

.loader{
  position: relative;
}

::ng-deep .ngx-spinner-overlay{
  position:absolute!important;
}

.nav-pills .nav-link.active {
  background-color: white;
  color: #07487C;
}


.nav-pills {
  float: inline-end;
  font-size: 17px;
}

.nav-link {
  color: white;
}

.coll div {
  width: fit-content;
}
