<div class="px-3 main pt-5">
  <div class="bg-light rounded-4 pt-5  px-4 pb-3">
    <p class="py-2 pt-4 pb-2">ارسال الكود الي البريد الالكتروني</p>
    <form [formGroup]="sendCodeForm" (submit)="sendCodeToEmail(sendCodeForm)">
      <div class="input pb-3">
        <div class="input-container ">
          <i class="icon "><img src="assets/images/auth/email.svg"></i>
          <input formControlName="email" type="email" class="input-field" placeholder="البريد الالكتروني">
        </div>
      </div>
      <div class="mt-3 login mb-5 pb-4">
        <button [disabled]="isLoading" class="btn w-100 mb-5">
          <span *ngIf="!isLoading">التالي</span>
          <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
        </button>
      </div>
    </form>
  </div>
</div>