<div class="px-3 main">
  <div class="bg-light rounded-4 pt-5  px-4 pb-3">
    <p class="text-center  pb-2">تسجيل جديد</p>
    <div class="input pb-3">
      <div class="input-container ">
        <i class="icon "><img src="assets/images/auth/user.svg"></i>
        <input type="text" class="input-field" placeholder="اسم المستخدم">
      </div>
    </div>

    <div class="input pb-3">
      <div class="input-container ">
        <i class="icon "><img src="assets/images/auth/email.svg"></i>
        <input type="email" class="input-field" placeholder="البريد الالكتروني">
      </div>
    </div>

    <div class="input pb-3">
      <div class="input-container ">
        <i class="icon "><img src="assets/images/auth/phone.svg"></i>
        <input type="text" class="input-field" placeholder="رقم الجوال">
      </div>
    </div>
    <div class="input pb-3">
      <div class="input-container">
        <i class="icon "><img src="assets/images/auth/padlock.svg"></i>
        <input [type]="hide ? 'password' : 'text'" class="input-field" placeholder="كلمة المرور">
        <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
    </div>


    <div class="input pb-3">
      <div class="input-container">
        <i class="icon "><img src="assets/images/auth/padlock.svg"></i>
        <input [type]="hide ? 'password' : 'text'" class="input-field" placeholder="إعادة كلمة المرور">
        <button mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
    </div>
    <div class="mt-3 login">
      <button class="btn w-100 ">تسجيل الدخول</button>
    </div>
    <div class="mt-3 socialLogin">
      <button class=" w-100 bg-light rounded-2 "> أو تسجيل الدخول بــ<img src="assets/images/auth/google.svg"
          class="pe-4"></button>
    </div>

    <div class="d-flex justify-content-center know-me mt-4 ">
      <div>
        <div class="form-check">
          <input class="form-check-input pointer" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label pe-2 pointer" for="flexCheckDefault">
            اوافق على الشروط والأحكام
          </label>
        </div>
      </div>
    </div>

  </div>
</div>
