<div class="main container px-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="header">
                قسم إطلاق المشاريع
            </h2>
            <h3><img src="assets/images/services/Rectangle 120.png" class="m-auto mx-2">فريقي</h3>
            <div class="define">
                <div class="d-inline-block pt-2">
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد</p>
                    <p>هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص هذا</p>
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد</p>
                    <p>هذا النص مـن مولد النص العربى، حيث يـمكنك أن تولد مـثـل هـذا الـنـص هذ</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <div >
                <button class="nav-link px-4  btn btn1 mt-2 mx-2" routerLink="">تقديم</button>
                <button class="nav-link px-4  btn btn2 mt-2 mx-2" routerLink="">استطلاع فقط</button>
            </div>
        </div>
   
</div>
</div>