<div class="main container px-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="pb-3 ">قسم التدريب</h2>
      <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد
      </p>
    </div>
    <div class="col-lg-6 left-section">
      <div class="container">
        <div class="row">
          <div class="col-4 px-1">
            <div class="first-card my-cards  rounded-3 p-4">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/12.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">مسارات تدريبية</p>
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="second-card my-cards  rounded-3 p-4">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/Layer 17.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">دورات أون لاين</p>
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="third-card my-cards  rounded-3 p-4">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/10.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">مكتبة المهارات</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" mt-4">
    <div class="container bg-white p-4 rounded-4 second-section ">
      <div class="row align-items-center">
        <div class="col-lg-5 offset-lg-1">
          <h3 class="pb-2">
            <img src="../../../../assets/images/training/12.svg" class="ps-1">
            مسارات تدريبية
          </h3>
          <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص الـعربى، حيث يمكنك
            أن تولد
            مثل هذا النص أو العديد من النصوص</p>
          <button class="nav-link px-4  btn btn1" routerLink="/auth/login">
            <img src="../../../../assets/images/training/Group 530.svg" class="ps-2">
            مشاهدة الدورة كاملة</button>
          <button class="nav-link px-4  btn btn2 btn-white mt-2" routerLink="/auth/login">
            <img src="../../../../assets/images/training/Group 563.svg" class="ps-2">
            أختبار تحديد المسار</button>
        </div>
        <div class="col-lg-6 ">
          <h4 class="fw-bold text-center pt-3">ديمو دورة (مفهوم الريادة)</h4>
          <img src="../../../../assets/images/training/Mask Group 2.png" class="d-block w-75 m-auto">
        </div>
      </div>
    </div>
  </div>
</div>
