@import "../../../../assets/styles/variables.scss";

.main {
  margin-top: 30px;

  h2 {
    font-weight: bold;
    font-size: 35px;
    color: $main-color;
    font-family: "Bahij";

  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Bahij";

  }

  .left-section {
    p {
      font-weight: 600;
      font-size: 11px;
      color: $main-color;
      font-family: "Bahij";

    }

    .my-cards {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      cursor: pointer;
    }

    img {
      height: 70px;
    }

    .first-card {
      background-image: url('/assets/images/training/Group\ 556.png');
    }

    .second-card {
      background-image: url('/assets/images/training/Group\ 568.png');
    }

    .third-card {
      background-image: url('/assets/images/training/Group\ 569.png');
    }
  }






}
