<div class="main container px-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="pb-3 ">قسم التدريب</h2>
      <p>
        نقدم لك باقة من الدورات التدريبة المصممة بعناية؛ لتلامس جميع احتياجاتك المعرفية.
      </p>
    </div>
    <div class="col-lg-6 left-section">
      <div class="container">
        <div class="row">
          <div class="col-4 px-1">
            <div class="first-card my-cards  rounded-3 p-4" routerLink="training-paths">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/12.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">مسارات تدريبية</p>
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="second-card my-cards  rounded-3 p-4" routerLink="online-courses">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/Layer 17.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">دورات أون لاين</p>
              </div>
            </div>
          </div>
          <div class="col-4 px-1">
            <div class="third-card my-cards  rounded-3 p-4" routerLink="skills-library">
              <div class="rounded-4  bg-white">
                <img src="assets/images/training/10.svg" class="d-block m-auto pt-3 pb-2">
                <p class="text-center pb-3">مكتبة المهارات</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
