<div class="p-4">
    <!-- <div class="row mb-5">
        <div class="col-lg-3 mt-3">
            <div class="startTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            تاريخ البداية</h5>
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/clock.png" style="width:15px;"/>
                            الوقت</h5>
                    </div>
                    <div class="col-6 left">
                        <h5>
                            11/11/2023</h5>
                        <h5>09:00 am</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="endTime">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/g195.png" style="width:15px;"/>
                            تاريخ الأنتهاء</h5>
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/clock.png" style="width:15px;"/>
                            الوقت</h5>
                    </div>
                    <div class="col-6 left">
                        <h5>11/11/2023</h5>
                        <h5>09:00 am</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="period">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <img class="mx-1" src="../../../../../assets/images/training/Layer 2.png" style="width:15px;"/>
                            المده</h5>
                    </div>
                    <div class="col-6">
                        <h5>45 ساعة و 20 دقيقة</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <h4>تفاصيل الدورة : </h4>
    <!-- <p>هذا النص هو مثال لنص يمكن أن يستبدل في نـفس المساحـة، لـقد تـم تـوليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النصهذا النص هو مثال لنص يمكن أن يستبدل في نـفس المساحـة، لـقد تـم تـوليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النصهذا النص هو مثال لنص يمكن أن يستبدل في نـفس المساحـة، لـقد تـم تـوليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص</p> -->
<div >
    <p>{{course?.about?.ar}}</p>
</div>
<div *ngIf="!course?.about?.ar">
    <p>---------</p>
</div>


<h4 class="mt-5">تتضمن هذه الدورة:</h4>
<ul class="course_includes">
    <li *ngIf="course?.duration">
        <p class=""> المدة {{course?.duration}} دقيقة</p>
    </li>
    <li *ngIf="!course?.duration">
        <p class=""> المدة ----- دقيقة</p>
    </li>

        <li *ngIf="course?.course_level?.title?.ar">
            <p>{{" مستوى المهارة "+course?.course_level?.title?.ar}}</p>
        </li>
        <li *ngIf="!course?.course_level?.title?.ar">
            <p>مستوى المهارة -----</p>
        </li>
    <li *ngIf="course?.lessons.length">
        <p>{{"محاضرات"+" "+course?.lessons?.length+" "+"درس"}}</p>
    </li>
    <li *ngIf="!course?.lessons?.length">
        <p>درس ----- محاضرات</p>
    </li>
    <li *ngIf="course?.enrolls?.length">
        <p>{{"تم التسجيل"+" "+course?.enrolls?.length+" "+"طلاب"}}</p>
    </li>
    <li *ngIf="!course?.enrolls?.length">
        <p>طلاب ---- تم التسجيل</p>
    </li>
    <!-- <li>
        <p id="test"></p>
    </li> -->

    
</ul>
</div>