<div class="main container px-5">
  <div class="d-flex  justify-content-end">
    <button class=" d-flex align-items-center nav-link px-3 btn btn1" routerLink="/auth/login">
      تحميل الدرس
      <div class="p-1 bg-light rounded-3 me-2">
        <img src="assets/images/training/0.svg" class="text-center">
      </div>
    </button>
  </div>
  <div class="main-section mt-4 rounded-3 p-3">
    <div class="d-flex align-items-center">
      <div class="square">
      </div>
      <h3 class="pt-3 pe-2">دراسة الجدوي : </h3>
    </div>
    <p class="main-p">يؤكِّد رواد الأعمال على أهمية إجراء دراسة جدوى للمشروعات الصغيرة ذات الميزانيات المحدودة. لذا إن
      لم تكن أعددت
      دراسة جدوى لأحد المشاريع من قبل، فسوف تتعرف هنا بعضَ الأمثلة التي ستساعدك على إعداد دراسة الجدوى
    </p>
    <br>
    <p>دور دراسة الجدوى ، تمكينك من قياس مدى نجاح المشروع، ومن خلالها ستستطيع تقييم الإمكانات، والتنبؤ
      باحتمالات نجاح أو فشل فكرة المشروع
      ولهذا، يؤكِّد خبراء الأعمال على وجوب إجراء دراسة جدوى للمشروعات الصغيرة ذات الميزانيات المحدودة، وعدم التغاضي عن
      ذلك إطلاقًا.
      إذا لم تكن قد عملتَ على دراسة جدوى لأحد المشاريع من قبل، فسنذكر في هذه المقالة أمثلة لدراسات جدوى تعرِّفكَ كلَّ ما
      تحتاج إلى معرفته لإعداد دراسة جدوى
    </p>
    <br>
    <p class="main-p">
      ما فائدة دراسة الجدوى؟
    </p>

    <p>
      إذًا ما هي دراسة الجدوى؟ دراسات الجدوى هي طرق يمكنك من خلالها تقييم ما إذا كانت خطة المشروع ستنجح أم لا
      تُقيّم أي دراسة جدوى التطبيق العملي لخطة مشروعك من أجل معرفة هل أنت قادر على المُضي قُدمًا في المشروع أم لا، وذلك
      بخلاف خطة العمل التي تفترض أنَّ الفكرة ناجحة، وتمنحك خطوات تتمكن من خلالها من اتخاذ الإجراءات اللازمة للتنفيذ
      يحدث ذلك عن طريق الإجابة عن 4 أسئلة تجيب عنها معظم دراسات الجدوى، وهي
      هل فكرة المشروع قابلة للتنفيذ؟
      ما هي خطوات تنفيذ المشروع بالتفصيل؟
      هل يمتلك فريق العمل الأدوات أو الموارد المطلوبة لإكمال المشروع قيد الدراسة؟
      هل سيكون هناك عائد استثمار مرتفع يضمن استمرارية المشروع؟

    </p>
    <br>
    <p>
      تُعدُّ دراسات الجدوى هامة للمشاريع التي تمثل استثمارات كبيرة لعملك، وخصوصًا تلك المشاريع التي يكون لها تأثير محتمل
      كبير على وجودك في السوق
      فهي تساعد على الاختيار بين الفُرص المتاحة للاستثمار في المشروع بطريقة صحيحة وواضحة
      وهو ما يُبين أهمية دراسة الجدوى للمشاريع على اختلاف أحجامها
    </p>
    <br>
    <p class="main-p">
      كم تستغرق دراسة الجدوى من الوقت؟
    </p>
    <p>
      يوجد عدد من العوامل التي تدخل في إعداد دراسات الجدوى، والتي تحدد المدة الزمنية، ومع زيادة حجم وتعقيد المشروع أو
      زيادة تفاصيل المخرجات من الدراسة، تزداد المقاييس الزمنية المعنية
      ونتيجة لذلك، يمكن أن تستغرق دراسات الجدوى شهورًا بدلاً من أسابيع، ولكن في كثير من الأحيان لا يكون ذلك ضروريًّا.
      فإعداد دراسة جدوى لمتجر قهوة أو متجر ورد أو مطعم مثلاً، يمكن أن يستغرق من 2-3 أسابيع بمجرد جمع المعلومات اللازمة
    </p>
  </div>
</div>
